<div class="section-main-web-app">
    	
		<section class="main-web-app">
			
			<div class="main-web-app-top">
				
				<div class="web-app-title">
					
					<div class="title-web-app">پشتیبانی</div>
				</div>
			
			</div>
			<a [routerLink]="['/']" class="back-web-app"><i class="fas fa-angle-left"></i></a>
			<div class="main-web-app">
				
				<div class="img-support"><img src="/assets/img/14-tasvire-bozorg.svg"></div>
				<div class="btn-support btn-support1">
				<img src="/assets/img/14-oshtibani-online.svg" width="20" height="20">
				<span>پشتیبانی آنلاین</span>
				</div>
				
				<div class="btn-support btn-support2">
				<img src="/assets/img/14-poshtibani.svg" width="20" height="20">
				<span>تماس با پشتیبانی</span>
				<a href="tel:1234567890">(123) 456-7890</a>
				</div>
				
				<p class="p-support"><img src="/assets/img/14-map.svg" width="25" height="25">تهران - میدان ونک - خیابان گاندی جنوبی - کوچه 21 - پلاک 25</p>

			</div>
			
			
		</section>
		
		</div>
