<div class="section-main-web-app">
    	
		<section class="main-web-app">
			
			<div class="main-web-app-top">
				
				<div class="web-app-title">
					
					<div class="title-web-app">درباره یارباکس</div>
				</div>
			
			</div>
			<a [routerLink]="['/map']" class="back-web-app"><i class="fas fa-angle-left"></i></a>
			<div class="main-web-app">
				
				<div class="img-support img-support1"><img src="/assets/img/15-tasvire-darbare.svg"></div>
				<div class="about-part">
				<p class="about-p">تیم یارباکس در کنار فعالیت های حرفه ای و تخصصی خود از مهارتهای ارتباطی فوق العاده با مشتریان و کارفرمایان برخوردار است .</p>
				
				<a href="#" class="about-a">درباره یارباکس بیشتر بدانید <i class="fas fa-angle-left"></i></a>
				<p class="about-ver">یارباکس نسخه 2.37</p>
				</div>
				

			</div>
