<div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">درباره یارباکس</div>
            </div>

        </div>
        <a [routerLink]="['/']" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
        <div class="main-web-app main-web-app-about">

            <div class="img-support img-support1"><img src="/assets/img/15-tasvire-darbare.svg"></div>
            <div class="about-part">
                <p class="about-p">
                    مجموعه یارباکس با تکیه بر تجربه ی 15 ساله ی خود در زمینه ی حمل و نقل بین شهری خرده بار این بار با همراهی متخصصین لجستیک و نخبگان فناوری اطلاعات توانسته است در جهت هوشمند سازی فرآیندهای درخواست ، حمل و تحویل مرسولات گامی موثر برداشته و با طراحی و پیاده
                    سازی اولین سامانه آنلاین خدمات حمل و نقل بین شهری به افزایش کیفیت زندگی مردمان سرزمینمان کمک کند.
                </p>

                <a href="https://yarbox.co/about-us" target="_blank" class="about-a">درباره یارباکس بیشتر بدانید <i class="fas fa-angle-left"></i></a>
                <p class="about-ver">یارباکس نسخه 1.0.0.1</p>
            </div>


        </div>
    </section>
</div>