
<div class="section-main-web-app">

  <section class="main-web-app">

      <div class="main-web-app-top">

          <div class="web-app-title">

              <div class="title-web-app">تاریخچه</div>

          </div>

      </div>
      <a class="back-web-app"><i class="fas fa-angle-left"></i></a>
      <div class="main-web-app main-web-app6">
          
          <div class="history-parts">
              <div class="history-head">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                      کد مرسوله : <span>44763</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                      تاریخ : <span>1398/01/18</span>
                  </div>
              </div>
              <div class="history-body">
                  <div class="history-part history-red">
                      <span class="cri-titr"></span>
                      <p>فرستنده</p>
                      <div class="history-info">
                          استان تهران - شهر تهران - شاهد - پلاک
                      </div>
                  </div>
                  <div class="history-part history-green">
                      <span class="cri-titr"></span>
                      <p>گیرنده</p>
                      <div class="history-info">
                          استان تهران - شهر تهران - شاهد - پلاک
                      </div>
                  </div>
                  <div class="historry-price">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-1">
                          <p>هزینه ارسال</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-2">
                          <span>75,900</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-3">
                          <p>تومان</p>
                      </div>
                      
                      
                      
                  </div>
              </div>
          </div>

          <div class="history-parts">
                  <div class="history-head">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                          کد مرسوله : <span>44763</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                          تاریخ : <span>1398/01/18</span>
                      </div>
                  </div>
                  <div class="history-body">
                      <div class="history-part history-red">
                          <span class="cri-titr"></span>
                          <p>فرستنده</p>
                          <div class="history-info">
                              استان تهران - شهر تهران - شاهد - پلاک
                          </div>
                      </div>
                      <div class="history-part history-green">
                          <span class="cri-titr"></span>
                          <p>گیرنده</p>
                          <div class="history-info">
                              استان تهران - شهر تهران - شاهد - پلاک
                          </div>
                      </div>
                      <div class="historry-price">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-1">
                              <p>هزینه ارسال</p>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-2">
                              <span>75,900</span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-3">
                              <p>تومان</p>
                          </div>
                          
                          
                          
                      </div>
                  </div>
              </div>

              <div class="history-parts">
                      <div class="history-head">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                              کد مرسوله : <span>44763</span>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                              تاریخ : <span>1398/01/18</span>
                          </div>
                      </div>
                      <div class="history-body">
                          <div class="history-part history-red">
                              <span class="cri-titr"></span>
                              <p>فرستنده</p>
                              <div class="history-info">
                                  استان تهران - شهر تهران - شاهد - پلاک
                              </div>
                          </div>
                          <div class="history-part history-green">
                              <span class="cri-titr"></span>
                              <p>گیرنده</p>
                              <div class="history-info">
                                  استان تهران - شهر تهران - شاهد - پلاک
                              </div>
                          </div>
                          <div class="historry-price">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-1">
                                  <p>هزینه ارسال</p>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-2">
                                  <span>75,900</span>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-3">
                                  <p>تومان</p>
                              </div>
                              
                              
                              
                          </div>
                      </div>
                  </div>

                  <div class="history-parts">
                          <div class="history-head">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                                  کد مرسوله : <span>44763</span>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                                  تاریخ : <span>1398/01/18</span>
                              </div>
                          </div>
                          <div class="history-body">
                              <div class="history-part history-red">
                                  <span class="cri-titr"></span>
                                  <p>فرستنده</p>
                                  <div class="history-info">
                                      استان تهران - شهر تهران - شاهد - پلاک
                                  </div>
                              </div>
                              <div class="history-part history-green">
                                  <span class="cri-titr"></span>
                                  <p>گیرنده</p>
                                  <div class="history-info">
                                      استان تهران - شهر تهران - شاهد - پلاک
                                  </div>
                              </div>
                              <div class="historry-price">
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-1">
                                      <p>هزینه ارسال</p>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-2">
                                      <span>75,900</span>
                                  </div>
                                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-3">
                                      <p>تومان</p>
                                  </div>
                                  
                                  
                                  
                              </div>
                          </div>
                      </div>



      </div>


  </section>

</div>