
<div class="section-main-web-app">

  <section class="main-web-app">

      <div class="main-web-app-top">

          <div class="web-app-title">

              <div class="title-web-app">تاریخچه</div>

          </div>

      </div>
      <a  [routerLink]="['/']" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
      <div class="main-web-app main-web-app6">
          
          <div class="history-parts" *ngFor="let history of historys">
              <div class="history-head">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                      کد مرسوله : <span>{{history.id}}</span>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                      تاریخ : <span>{{history.createdOn *1000  | date: 'yyyy-MM-dd' | jalali }}</span>
                  </div>
              </div>
              <div class="history-body">
                  <div class="history-part history-red">
                      <span class="cri-titr"></span>
                      <p>فرستنده</p>
                      <div class="history-info">
                     {{history.origin}}
                      </div>
                  </div>
                  <div class="history-part history-green">
                      <span class="cri-titr"></span>
                      <p>گیرنده</p>
                      <div class="history-info">
                    {{history.destination}}
                      </div>
                  </div>
                  <div class="historry-price">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-1">
                          <p>هزینه ارسال</p>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-2">
                          <span>{{history.price | toman}}</span>
                      </div>
                     
                      
                      
                  </div>
              </div>
          </div>
      </div>


  </section>

</div>