.section-main-web-app .tab-content {
    height: 70vh;
    overflow-y: scroll;
}

@media screen and (max-width:414px) {
    .add-fav {
        padding: 6% !important;
    }
}

@media screen and (max-width: 320px) {
    .add-fav {
        padding: 4% !important;
    }
}