<div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">وضعیت سفارش</div>

            </div>

        </div>
        <a [routerLink]="['/base']" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
        <div class="main-web-app main-web-app6">

            <div class="picpack">
                <img src="/assets/img/11-faalliatha.svg">
            </div>
            <div class="stutus-pack">
                <p *ngIf="PackDitile.status=='waiting'" (click)="getDriver()">در حال یافتن پیک<span class="info-rannade" data-toggle="modal" data-target="#myModal6">مشخصات راننده</span></p>
                <p *ngIf="PackDitile.status=='driverRecived'">دریافت شده توسط پیک</p>
                <p *ngIf="PackDitile.status=='originPort'">ترمینال مبدا</p>
                <p *ngIf="PackDitile.status=='destinationPort'">ترمینال مقصد</p>
                <p *ngIf="PackDitile.status=='delivered'">تحویل داده شده</p>
                <p *ngIf="PackDitile.status=='notShown'">عدم نمایش</p>
                <p *ngIf="PackDitile.status=='factor'">فاکتور</p>
                <p *ngIf="PackDitile.status=='cancellationByAdmin'">لغو توسط ادمین</p>
                <p *ngIf="PackDitile.status=='cancellationByDriver'">لغو توسط راننده</p>
                <p *ngIf="PackDitile.status=='cancellationByCustomer'">لغو توسط مشتری</p>
                <p *ngIf="PackDitile.status=='returned'">برگشتی</p>



            </div>
            <div class="info-packs">
                <div class="info-pack">
                    <div class="info-part info-part1">نام گیرنده</div>
                    <div class="info-part info-part2">{{PackDitile.destination.receiverName}}</div>
                </div>
                <div class="info-pack">
                    <div class="info-part info-part1">شماره تماس</div>
                    <div class="info-part info-part2">{{PackDitile.destination.receiverPhoneNumber}}</div>
                </div>
                <div class="info-pack">
                    <div class="info-part info-part1">کد مرسوله</div>
                    <div class="info-part info-part2">{{PackDitile.id}}</div>
                </div>
                <div class="info-pack">
                    <div class="info-part info-part1">تاریخ</div>
                    <div class="info-part info-part2">{{PackDitile.createdOn *1000  | date: 'yyyy-MM-dd' | jalali }}</div>
                </div>
                <!-- <div class="info-pack">
                  <div class="info-part info-part1">ساعت</div>
                  <div class="info-part info-part2">13:15</div>
              </div> -->
            </div>





        </div>

        <div class="btn-web-app" [routerLink]="['/final-factor']"><button>مشاهده فاکتور</button></div>
    </section>

</div>


<div id="myModal6" class="modal fade" role="dialog" #closemyModal6>
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اطلاعات راننده</h4>
            </div>
            <div class="modal-body">
                <div class="div-img-rannade"><img src="https://file.yarbox.co/images/driverInfoImage/{{driver.photoName}}" height="50px" width="50px" class="img-rannade"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="namedriver">نام و نام خانوادگی : <span class="name-driver"><p *ngIf="driver!=null">{{driver.firstName}} {{driver.lastName}}</p></span></div>
                    <div class="pelakdriver">شماره پلاک : <span class="pelak-driver"><p *ngIf="driver!=null">{{driver.plaque}}</p></span></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <a href="tel:{{driver.mobile}}" class="info-driver1-line2-span"><img src="/assets/img/8-mob.svg" width="40" height="40"></a>
                </div>

            </div>

        </div>

    </div>
</div>