<div class="section-main-web-app">

  <section class="main-web-app">

      <div class="main-web-app-top">

          <div class="web-app-title">

              <div class="title-web-app">وضعیت سفارش</div>

          </div>

      </div>
      <a  class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
      <div class="main-web-app main-web-app6">

          <div class="picpack">
              <img src="/assets/img/11-faalliatha.svg">
          </div>
          <div class="stutus-pack">
              <p>در حال رسیدن وسیله حمل بار</p>

          </div>
          <div class="info-packs">
              <div class="info-pack">
                  <div class="info-part info-part1">نام گیرنده</div>
                  <div class="info-part info-part2">اکبر نوریان</div>
              </div>
              <div class="info-pack">
                  <div class="info-part info-part1">شماره تماس</div>
                  <div class="info-part info-part2">0912233333</div>
              </div>
              <div class="info-pack">
                  <div class="info-part info-part1">کد مرسوله</div>
                  <div class="info-part info-part2">45454232</div>
              </div>
              <div class="info-pack">
                  <div class="info-part info-part1">تاریخ</div>
                  <div class="info-part info-part2">98.02.05</div>
              </div>
              <div class="info-pack">
                  <div class="info-part info-part1">ساعت</div>
                  <div class="info-part info-part2">13:15</div>
              </div>
          </div>





      </div>


  </section>

</div>