 

 <div class="section-main-web-app">
    	
	<section class="main-web-app">
		
		<div class="main-web-app-top main-web-app-top1">
	 
	 
				{{lat}}  |   {{lng}}
			<div class="title-web-app1">
				<p>ثبت مبدا</p>
				<img src="/assets/img/3-mabda.svg" width="25" height="25" class="icon-serch1">
				<input type="search"  value={{_packService.getAddress()}}>
				<img src="/assets/img/3-search.svg" width="25" height="25" class="icon-serch2">
			</div>
		
		</div>
	 
		<div class="main-web-app-map">
				<div class="marker-orgin"><a href="#"><img src="/assets/img/locstion.svg" width="70" height="70"></a></div>
				<div class="fav-address-orgin"><a href="#"><img src="/assets/img/3-setareh.svg" width="22" height="22"></a></div>
				<div class="location-my"><a href="#"><img src="/assets/img/mokhtasat.svg" width="30" height="30"></a></div>
				
				<agm-map 
				(centerChange)="centerChange($event)"
					[latitude]="lat"
					[longitude]="lng"
					[zoom]="zoom"
					[disableDefaultUI]="false"
					[zoomControl]="false"
					(mapClick)="mapClicked($event)"
					
					>
				
			 
					
				 
				
				</agm-map>
			
			
		</div>
		
		<div class="btn-web-app"><a [routerLink]="['/destination']">تایید و ادامه</a></div>
	</section>
	
	</div>

 