
 <div class="section-main-web-app">
    	
	<section class="main-web-app">
		
		<div class="main-web-app-top main-web-app-top1">
	 
	 
		 
			<div class="title-web-app1">
				<p>ثبت مبدا</p>
				{{lat}}  {{lng}}
				<button  data-toggle="modal" data-target="#selectfavoriteaddresses" class="selectfavorite2"><img src="/assets/img/icon-bookmark.svg"  width="20" /></button>
				<img src="/assets/img/3-mabda.svg" width="25" height="25" class="icon-serch1">
				<!-- (input)="onSearchChange($event.target.value)" -->
				<input  autocomplete="off" type="search"  value={{Origin.street}}  readonly>
				
				<img src="/assets/img/3-search.svg" width="25" height="25" class="icon-serch2">
			</div>
			
		</div>
	 
		<div class="main-web-app-map">
				<div class="marker-orgin"><a href="#"><img src="/assets/img/locstion.svg"></a></div>
				<div class="fav-address-orgin"><a  data-toggle="modal" data-target="#favoriteaddresses" (click)="favoriteAddressTitle.value=''"><img src="/assets/img/3-setareh.svg" width="22" height="22"></a></div>
				<div class="location-my" ><button ><img (click)="myLocation()" src="/assets/img/mokhtasat.svg" width="30" height="30"></button></div>
				
				<agm-map 
				(centerChange)="centerChange($event)"
					[latitude]="lat"
					[longitude]="lng"
					[zoom]="zoom"
					[disableDefaultUI]="true"
					[zoomControl]="false"
	 
					(dragEnd)="onDragEnd($event)">

				</agm-map>
		
			
		</div>
		
		
		<div class="btn-web-app" data-toggle="modal" data-target="#myModal2"><button  >تایید و ادامه</button></div>
	</section>
	
	</div>

 
	<div id="myModal2" class="modal fade" role="dialog" #closeModal>
			<div class="modal-dialog">
			  <div class="modal-content modal-content-packs">
				<div class="modal-body">
					  <h4 class="modal-title"><img src="/assets/img/3-mabda.svg" width="25" height="25">آدرس فرستنده</h4>
					  <input  autocomplete="off" type="text" placeholder="لطفا آدرس فرستنده را همراه با پلاک وارد نمایید"  value={{Origin.street}} #senderAddress>
					   <div class="btn-circle-download" id="btn-ok-address">
								<span class='pulse-button'  (click)="AcceptAddress(senderAddress.value)"><img src="/assets/img/icon-ok.svg" width="20" /></span>
							
						 </div>
				</div>
			  </div>
			</div>
			</div>
			
			<div id="favoriteaddresses" class="modal fade" role="dialog" #closeModalfavoriteaddresses>
					<div class="modal-dialog">
						<div class="modal-content modal-content-packs">
						<div class="modal-body">
								<h4 class="modal-title"><img src="/assets/img/3-mabda.svg" width="25" height="25">آدرس فرستنده</h4>
								<input  autocomplete="off" type="text" placeholder="عنوان"    #favoriteAddressTitle class="titr-favorite">
								<input  autocomplete="off" type="text" placeholder="لطفا آدرس فرستنده را همراه با پلاک وارد نمایید"  value={{Origin.street}} #favoriteAddress class="text-favorite">
							<span *ngIf="errorAddress!=null">{{errorAddress}}</span>
								<div class="btn-circle-download" id="btn-ok-address">
										<span class='pulse-button'  (click)="SaveAddress(favoriteAddress.value,favoriteAddressTitle.value)"><img src="/assets/img/icon-ok.svg" width="20" /></span>
								 </div>
						</div>
						</div>
					</div>
			</div>


					<div id="selectfavoriteaddresses" class="modal fade" role="dialog" #closeModalSelectAddress>
						<div class="modal-dialog">
							<div class="modal-content modal-content-packs">
							<div class="modal-body">
									<h4 class="modal-title"><img src="/assets/img/3-mabda.svg" width="25" height="25">آدرس فرستنده</h4>
									<p  *ngFor="let item of savedaddress" (click)="SelectAddress(item)">{{item.title}}  </p>
									 <div class="btn-circle-download" id="btn-ok-address">
									 </div>
							</div>
							</div>
						</div>
						</div>

		 