 	<div class="section-main-web-app">
    	
		<section class="main-web-app">
			
			<div class="main-web-app-top ">
				
				<div class="web-app-title">
					
					<div class="title-web-app">فاکتور</div>
				</div>
			
			</div>
			<a  (click)="Back()" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
			<div class="main-web-app main-web-app-factor">
				<ul class="nav nav-tabs nav-factor">
				  <li><a data-toggle="tab" href="#menu1">فرستنده</a></li>
				  <li class="active"><a data-toggle="tab" href="#menu2">گیرنده</a></li>
				 
				</ul>

				<div class="tab-content tab-factor">
				  
				  <div id="menu1" class="tab-pane fade">
				  <div> نام : {{Factor.sender.name}} </div>  <br>
				  <div>ادرس :{{Factor.sender.address}}  </div>  <br>
				  <div>شماره همراه :{{Factor.sender.phoneNumber}}  </div>  <br>
				  </div>
				  <div id="menu2" class="tab-pane fade in active">
					<div> نام : {{Factor.receiver.name}} </div>  <br>
					<div>ادرس :{{Factor.receiver.address}}  </div>  <br>
					<div>شماره همراه :{{Factor.receiver.phoneNumber}}  </div>  <br>
				  </div>
				</div>
				<div class="info-web-app">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
					<div class="vecle-type">
						
			  <img *ngIf="Vehicle==1" src="/assets/img/5-vasileye-naghlie3motor.svg" width="70" height="70">
				<img *ngIf="Vehicle==2"  src="/assets/img/5-vasileye-naghlie1pride.svg" width="70" height="70">
				<img *ngIf="Vehicle==3" src="/assets/img/5-vasileye-naghlie2pride-vanet.svg" width="70" height="70">
						
					</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
					<a href="#" class="info-web-app-a" data-toggle="modal" data-target="#myModal1">مشاهده جزییات بسته</a>
					</div>
				</div>
				
				<div id="myModal1" class="modal fade" role="dialog">
				  <div class="modal-dialog">

					<div class="modal-content modal-content-packs">
					  
					  <div class="modal-body">
						  
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">جزییات بسته</h4>
						
						</div>
						<br>
						<div *ngFor="let paks of Factor.packdetails">
							{{paks.count}} عدد  مرسوله   {{paks.type}} کیلو
					  </div>
						  
					  </div>
					  
					</div>

				  </div>
				</div>
				
				<div class="hazine">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
					<h3>هزینه ارسال</h3>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: left;"> 
						<span>{{Factor.price  | toman}}</span> 
					</div>
				</div>
				<div class="pay-factor">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<input  autocomplete="off" type="radio" id="magsad" name="pay-web-app" class="radio-pay" (click)="paymentType(false,0)" >  
			 
				<label for="magsad">پرداخت نقدی در مقصد</label>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<input  autocomplete="off" type="radio" id="mabda" name="pay-web-app" class="radio-pay" (click)="paymentType(true,false)">
				<label for="mabda">پرداخت نقدی در مبدا</label>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<input  autocomplete="off" type="radio" id="kif" name="pay-web-app" class="radio-pay" (click)="paymentType(true,true)">
				<label for="kif" class="kif">پرداخت اعتباری در مبدا</label>
				</div>
				</div>
			
				<div class="hazine">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
					<h3>کیف پول شما</h3>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: left;"> 
						<span *ngIf="credit!=0">{{credit | toman }}</span> 
					</div>
				</div>
			
				<div class="pay-btn-web-app">
					<a  [routerLink]="['/wallet-charging']" ><img src="/assets/img/3-mosbat.svg" width="22" height="22">شارژ کیف پول</a></div>
				

			</div>
			
			<div class="btn-web-app"><button type="submit" (click)="SerchingDriver()">ثبت درخواست</button></div>
		</section>
		
		</div>
       

