<div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">تاریخچه</div>

            </div>

        </div>
        <a class="back-web-app"><i class="fas fa-angle-left"></i></a>
        <div class="main-web-app main-web-app6">
            <div class="history-parts">
                <div class="history-head">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                        <p>کد مرسوله : <span>11111</span></p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                        <p>تاریخ : <span>1398/02/18</span></p>
                    </div>
                </div>

                <div class="history-red history-part">
                    <p>فرستنده</p>
                    <div class="history-info">
                        <p>استان تهران - تهران</p>
                    </div>
                </div>
                <div class="history-green history-part">
                    <p>گیرنده</p>
                    <div class="history-info">
                        <p>استان تهران - تهران</p>
                    </div>
                </div>
                <div class="historry-price">
                    <p class="historry-price-1">هزینه ارسال : </p>
                    <p class="historry-price-2">75900</p>
                    <p class="historry-price-3">تومان</p>
                </div>

            </div>


            <div class="history-parts">
                <div class="history-head">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                        <p>کد مرسوله : <span>11111</span></p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                        <p>تاریخ : <span>1398/02/18</span></p>
                    </div>
                </div>

                <div class="history-red history-part">
                    <p>فرستنده</p>
                    <div class="history-info">
                        <p>استان تهران - تهران</p>
                    </div>
                </div>
                <div class="history-green history-part">
                    <p>گیرنده</p>
                    <div class="history-info">
                        <p>استان تهران - تهران</p>
                    </div>
                </div>
                <div class="historry-price">
                    <p class="historry-price-1">هزینه ارسال : </p>
                    <p class="historry-price-2">75900</p>
                    <p class="historry-price-3">تومان</p>
                </div>

            </div>

        </div>


    </section>

</div>