

  <div class="section-main-web-app">
    	
      <section class="main-web-app">
        
        <div class="main-web-app-top">
          <a href="#" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
          <div class="title-web-app">جزییات مرسوله</div>
        <input  autocomplete="off" type="text" value="تهران" readonly> <br>
        ادرس
          <input  autocomplete="off" type="text" value="ادرس" > <br>
          پلاک
          <input  autocomplete="off" type="text" value="پلاک" > <br>
          شماره همراه
          <input  autocomplete="off" type="text"  value="{{this.auth.getProfile.phoneNumber}}" readonly > <br>
        </div>
       
        <div class="btn-web-app">
          <a [routerLink]="['/destination']">ثبت درخواست</a></div>
      </section>
      
      </div>
         
  