<div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">اشتراک گذاری</div>
            </div>

        </div>
        <a [routerLink]="['/']" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
        <div class="main-web-app main-web-app-invited">

            <div class="img-support img-support1"><img src="/assets/img/15-tasvire-darbare.svg"></div>
            <div class="invited-part">
                <p class="invited-p">
                    یارباکس را به دوستان و آشنایان خود معرفی کنید تا اعتبار رایگان هدیه بگیرند و شما هم بعد از اولین سفارش آنها 5 هزار تومان اعتبار دریافت کنید .
                </p>
                <span class="invited-span-before"></span>
                <p class="invited-p2">لینک دعوت خود را به اشتراک بگذارید </p>
                <span class="invited-span-after"></span>
                <div class="share-socail">
                    <a class="has-blue-telegram-bg" target="_blank" href="//telegram.me/share/url?url=https://yarbox.co&amp;text={{txt}}"><img src="/assets/img/telegram-friend.svg" width="40"></a>
                    <a class="has-green-extra-bg" target="_blank" href="mailto:?&amp;subject=یارباکس&amp;body={{txt}}"><img src="/assets/img/mail-friend.svg" width="40"></a>
                    <a class="has-blue-facebook-bg" target="_blank" href="//facebook.com/sharer/sharer.php?u=yarbox.co&amp;t={{txt}}"><img src="/assets/img/facrbook-friend.svg" width="40"></a>
                    <a class="has-blue-twitter-bg" target="_blank" href="//twitter.com/share?url=ext={{txt}} "><img src="/assets/img/twiter-friend.svg" width="40"></a>
                    <a class="has-blue-whatsapp-bg" target="_blank" href="https://api.whatsapp.com/send?text={{txt}} "><img src="/assets/img/whats.svg" width="40"></a>
                </div>

                <form class="code-moaref">
                    <label>کد معرف : </label>
                    <p>{{regcode}}</p>

                </form>


            </div>
        </div>