<div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">اشتراک گذاری</div>
            </div>

        </div>
        <a [routerLink]="['/']" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
        <div class="main-web-app main-web-app-invited">

            <div class="img-support img-support1"><img src="/assets/img/15-tasvire-darbare.svg"></div>
            <div class="invited-part">
                <p class="invited-p">
                    یارباکس را به دوستان و آشنایان خود معرفی کنید تا اعتبار رایگان هدیه بگیرند و شما هم بعد از اولین سفارش آنها 5 هزار تومان اعتبار دریافت کنید .
                </p>
                <span class="invited-span-before"></span>
                <p class="invited-p2">لینک دعوت خود را به اشتراک بگذارید </p>
                <span class="invited-span-after"></span>
                <a href=""><img src="/assets/img/share.svg" alt="" width="40"></a>
            </div>

            <a   ion-button="" medium="" rounded="" square="" tappable="" target="_blank" href="//telegram.me/share/url?url=https://yarbox.co&amp;text={{txt}}">تلگرلم</a><br>
            <a   ion-button="" medium="" rounded="" square="" tappable="" href="mailto:?&amp;subject=یارباکس&amp;body={{txt}}">ایمیل</a><br>
            <a   ion-button="" medium="" rounded="" square="" tappable="" target="_blank" href="//facebook.com/sharer/sharer.php?u=yarbox.co&amp;t={{txt}}">فیسبوک</a><br>
            <a   ion-button="" medium="" rounded="" square="" tappable="" target="_blank" href="//twitter.com/share?url=ext={{txt}}">تویتر </a><br>
            <a   ion-button="" medium="" rounded="" square="" tappable="" target="_blank" href="https://api.whatsapp.com/send?text={{txt}}">واتس اپ </a>
        </div>