<div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">اشتراک گذاری</div>
            </div>

        </div>
        <a [routerLink]="['/']" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
        <div class="main-web-app main-web-app-invited">

            <div class="img-support img-support1"><img src="/assets/img/15-tasvire-darbare.svg"></div>
            <div class="invited-part">
                <p class="invited-p">
                    یارباکس را به دوستان و آشنایان خود معرفی کنید تا اعتبار رایگان هدیه بگیرند و شما هم بعد از اولین سفارش آنها 5 هزار تومان اعتبار دریافت کنید .
                </p>
                <span class="invited-span-before"></span>
                <p class="invited-p2">لینک دعوت خود را به اشتراک بگذارید </p>
                <span class="invited-span-after"></span>
                <a href=""><img src="/assets/img/share.svg" alt="" width="40"></a>
            </div>


        </div>