.btn-web-app button {
    margin-right: -20px;
}

.checkbox-pack {
    float: right;
    top: -5px;
}

@media screen and (max-width: 768px) {
    .btn-web-app button {
        margin-right: -20px !important;
    }
    .radiobtn-pack.checkbox-pack label {
        width: 30px !important;
        height: 30px !important;
        padding: 5px;
        margin-left: 10px;
        top: 5px;
        position: relative;
    }
    .radiobtn-pack.checkbox-pack label img {
        top: -4px;
        position: relative;
    }
}

@media screen and (max-width: 500px) {
    .btn-web-app button {
        margin-right: 0 !important;
    }
    .radiobtn-pack.checkbox-pack label {
        width: 20px !important;
        height: 20px !important;
        right: -5px;
        top: 10px;
    }
    .radiobtn-pack.checkbox-pack label img {
        top: -8px;
        position: relative;
    }
}