.status-profile-layer .status-item .heading .close-status{
    outline: medium none;  text-decoration: none; -webkit-transition : all 0.3s linear 0s; -moz-transition : all 0.3s linear 0s; -ms-transition : all 0.3s linear 0s; -o-transition : all 0.3s linear 0s; transition : all 0.3s linear 0s
}
.access-link-layer:after,.right-side-heading:after,.status-profile-layer .status-item .status-bar:after,
.order-steps-status:after,.terminal-info:after,.table-list .tbl-row:after{display: block;clear: both; content: ''; line-height: 0; height: 0; visibility: hidden;}

.margin-top-10{
  margin-top: 10px
}
.margin-top-20{
  margin-top: 20px
}
.margin-top-30{
  margin-top: 30px
}
.margin-top-40{
  margin-top: 40px
}
.margin-top-50{
  margin-top: 50px
}
.profile-avatar{
  margin-bottom: 25px;
  padding:30px 0;
}
.profile-avatar .img-layer{
  position: relative;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  display: block;
  margin: 0 auto 20px;
  border:4px solid #e5ecf0;
}
.profile-avatar .img-layer img{
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}
.access-link-layer{
  width: auto;
  margin: 0 auto;
  display: table;
}
.access-link-layer a{
  border:3px solid #e5ecf0;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 33px;
  text-align: center;
  font-size: 22px;
  background-color: #fff;
  color: #b1c2cc;
  margin: 0 5px;
  float: right;
}
.access-link-layer a:hover{
  border:3px solid #3669ab;
  color: #3669ab
}
.access-link-layer a i.zmdi-account{
  position: relative;
  top: 3px
}
.access-link-layer .tooltip.fade{
  line-height: 30px;
  font-family: 'IRANSans';
  font-size: 13px;
}
.profile-page{
  padding: 35px 0
}

.profile-page .dashboard .inner{
  padding: 12px 15px
}
.profile-page .dashboard ul li{
  padding: 3px 0;
  position: relative;
}
.profile-page .dashboard ul li a:before{
  display: none;
}
.profile-page .dashboard ul li a{
  width: 100%;
  display: block;
  font-size: 14px;
  color: #566875;
  padding-right: 0;
  word-spacing: -1px
}
.profile-page .dashboard ul li a i{
  width: 27px;
  font-size: 21px;
  color: #b1c2cc;
  position: relative;
  top: 2px
}
.profile-page .dashboard ul li a i.kbk-interface-3{
  right: -2px;
  top: 4px
}
.profile-page .dashboard ul li a i.zmdi-account-box{
  right: 2px;
  top: 4px
}

.profile-page .access-menu ul li span i{
  position: absolute;
  left: 0;
  top: 11px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 18px
}
.profile-page .access-menu ul li span i:hover{
  cursor: pointer;
}

.profile-page .responsive-logout,
.profile-page .logout{
  display: block;
  width: 100%;
  padding: 15px 25px;
  color: #ef3a3a;
  font-size: 15px;
  word-spacing: -1px;
  line-height: 25px
}
.profile-page .responsive-logout{
  display: none
}
.profile-page .responsive-logout i,
.profile-page .logout i{
  font-size: 21px;
  position: relative;
  top: 3px;
  margin-left: 5px
}
.profile-page .responsive-logout:hover,
.profile-page .logout:hover{
  color: #9bb0bc
}
.right-side-heading{
  padding: 20px 25px 23px 16px;
  position: relative;
  margin-bottom: 25px
}
.right-side-heading > span{
  line-height: 25px;
  font-size: 14px;
  word-spacing: -1px;
  color: #566875
}
.right-side-heading > span i.kbk-credit-cards-payment{
  color: #b1c2cc;
  font-size: 21px;
  position: relative;
  top: 4px;
  margin-left: 5px
}
.right-side-heading > span i.money {
    font-style: normal;
    font-weight: bold;
    color: #d41b58;
    font-size: 16px;
}
.right-side-heading > a{
  background-color: #8ac81f;
  padding: 0 25px;
  line-height: 37px;
  color: #fff;
  font-size: 14px;
  border-radius: 38px;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  margin-right: 15px;
  float: left;
  word-spacing: -1px;
  font-weight: bold;
  position: relative;
  top: -2px
}
.right-side-heading > a i{
  font-size: 24px;
  position: relative;
  top: 6px;
  margin-left: 5px
}
.right-side-heading > a:hover{
  background-color: #7aaf1e
}
.statistics-layer .section-style{
  padding: 17px 23px;
  height: 90px;
  position: relative;
}
.account-statistics-layer .section-style{
  padding: 17px 23px;
  height: 90px;
  position: relative;
  margin-bottom: 25px
}
.statistics-layer .section-style > i{
  font-size: 54px;
  position: absolute;
  left: 20px;
  top: 6px
}
.account-statistics-layer .section-style > i{
  font-size: 54px;
  position: absolute;
  left: 20px;
  top: 15px;
  color: #809ab2;
}
.statistics-layer .section-style > i.kbk-clipboard{
  color: #3669ab 
}
.statistics-layer .section-style > i.kbk-interface{
  color: #8ac81f
}
.statistics-layer .section-style > i.kbk-delete{
  color: #D41C58;
  font-size: 50px;
  top: 9px
}
.account-statistics-layer .section-style > i.zmdi-assignment-check{
  top: 19px
}
.statistics-layer .section-style .title,
.account-statistics-layer .section-style .title{
  color: #b1c2cc;
  display: block;
  line-height: 23px;
  font-size: 15px;
  word-spacing: -2px;
  padding-bottom: 3px
}
.statistics-layer .section-style .count,
.account-statistics-layer .section-style .count{
  color: #2b3237;
  display: block;
  line-height: 30px;
  font-size: 14px;
}
.statistics-layer .section-style .count i,
.account-statistics-layer .section-style .count i{
  font-size: 18px;
  font-style: normal;
}

.status-profile-layer{
  position: relative;
}
.status-profile-layer .status-item{
  position: relative;
  padding: 20px 25px;
  margin-bottom: 25px
}
.result-search .status-profile-layer .status-item{
  padding: 15px 20px;
  margin: 35px 0 5px
}
.status-profile-layer .status-item .heading{
  position: relative;
  padding: 0 20px 0 40px;
  border-right: 3px solid #e5ecf0;
	  overflow: hidden;
}
.status-profile-layer .status-item .heading:hover{
  cursor: pointer;
}
.status-profile-layer .status-item .heading h4 {
    font-size: 14px;
    word-spacing: -1px;
    color: #5d676e;
    line-height: 24px;
    margin-bottom: 28px;
}
.status-profile-layer .status-item .heading p span{
  color: #122D50;
  font-weight: bold;
}
.status-profile-layer .status-item .heading p span i{
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-left: 4px
}
.status-profile-layer .status-item .heading .close-status{
    position: absolute;
    left: 5px;
}
.status-profile-layer .status-item .heading .close-status:hover{
  color: #3669ab;
  cursor: pointer;
}
.status-profile-layer .status-item .heading .close-status i {
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-size: 15px;
    margin: 0 2px;
    color: #1e70c8;
    border: 2px solid #1e70c8;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.status-profile-layer .status-item .heading .close-status i :hover{
  border:2px solid #3669ab;
  color: #3669ab;
  cursor: pointer;
}
span.close-status span{
	font-size: 15px;
	color: #3669ab;
}
.status-profile-layer .status-item .status-bar{
  position: relative;
  padding: 0;
  margin-top: 30px;
  overflow: hidden;
}

.status-profile-layer .status-item .status-step{
  width: 25%;
  float: right;
  height: 80px;
  position: relative;
}
.status-profile-layer .status-item .status-step > span{
  display: block;
  margin: 0 auto 10px;
  width: 45px;
  height: 45px;
  padding: 1px;
  border:2px solid #e5ecf0;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  z-index: 2;
  position: relative;
  background: #fff
}
.status-profile-layer .status-item .status-step > span span{
  display: block;
  width: 39px;
  height: 39px;
  text-align: center;
  line-height: 42px;
  border:1px solid #fff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  background-color: #e5ecf0;
  color: #fff;
  font-size: 24px;
}
.status-profile-layer .status-item .status-step.done > span{
  border:2px solid #8ac81f;
}
/* */.status-item .status-step.done > span span{
  border:1px solid #fff;
  background-color: #8ac81f
}
.status-profile-layer .status-item h2{
  color: #6b8290;
  font-size: 15px;
  text-align: center;
  display: block;
  width: 100%;
  line-height: 20px;
  word-spacing: -1px;
}
.status-profile-layer .status-item .heading:before{
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #e5ecf0;
  content: '';
  top: 79px;
  right: 0;
  z-index: 1
}
.status-profile-layer .status-item .status-step.done:before{
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #8ac81f;
  content: '';
  top: 22px;
  right: 0;
  z-index: 2
}

.profile-content{
  margin-bottom: 25px
}
.profile-content > header{
  border-bottom: 1px solid #e5ecf0;
  width: 100%;
  padding: 17px 20px;
  position: relative;
}
.profile-content > header h1{
  font-size: 18px;
  color: #3669ab;
  word-spacing: -1px;
  line-height: 25px;
  font-weight: 600;
}
.profile-content > header h1 i{
  font-size: 21px;
  margin-left: 11px;
  position: relative;
  top: 4px
}
.profile-content > header h1 i.kbk-box,
.profile-content > header h1 i.kbk-arrow-1{
  font-size: 25px;
  top: 1px
}
aside .aside-section > .inner > ul li a.active,
aside .aside-section > .inner > ul li a.active i{
  color: #D41C58
}
.profile-content > header .add-new{
  position: absolute;
  left: 25px;
  top: 16px;
  font-size: 14px;
  font-weight: bold;
  word-spacing: -1px;
  color: #74b209;
  height: 20px;
  line-height: 20px
}
.profile-content > header .add-new:hover{
  color: #D41C58
}
.profile-content > header .add-new i{
  font-size: 21px;
  position: relative;
  top: 4px;
  margin-left: 4px
}
.profile-content > header span{
  position: absolute;
  left: 25px;
  top: 23px;
  font-size: 15px;
  font-weight: bold;
  color: #a1b4bf;
  height: 20px;
  line-height: 20px
}
.profile-content > header span:before{
  width: 15px;
  height: 4px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  position: absolute;
  left: -25px;
  top: 10px;
  content: '';
  background-color: #b1c2cc
}
.profile-content > .inner{
	padding: 25px 30px;overflow: hidden;
}
.profile-content .form-style .input-layer,
.profile-content .form-style .select-layer,
.profile-content .form-style .textarea-layer{
  width: 100%;
  position: relative;
  min-height: 50px;
  margin-bottom: 35px
}
.profile-content .form-style .input-layer label,
.profile-content .form-style .select-layer label,
.profile-content .form-style .textarea-layer label{
  display: block;
  line-height: 25px;
  font-size: 14px;
  word-spacing: -2px;
  color: #93a6b3
}
.profile-content .form-style .input-layer label i,
.profile-content .form-style .select-layer label i,
.profile-content .form-style .textarea-layer label i{
  position: relative;
  top: 2px;
  color: #cedbe3;
  margin-left: 6px;
  font-size: 17px
}
.profile-content .form-style .input-layer input,
.profile-content .form-style .select-layer select{
  position: relative;
  top: 2px;
  color: #cedbe3;
  margin-left: 6px;
  width: 100%;
  line-height: 25px;
  padding: 0 0 6px;
  border:0;
  border-bottom: 2px solid #e4ecef;
  color: #3669ab;
  font-size: 14px;
  word-spacing: -1px
}
.profile-content .form-style .textarea-layer textarea{
  position: relative;
  top: 2px;
  color: #cedbe3;
  margin-left: 6px;
  width: 100%;
  line-height: 21px;
  padding: 0 0 6px 10px;
  border:0;
  border-bottom: 2px solid #e4ecef;
  color: #3669ab;
  font-size: 14px;
  word-spacing: -1px;
  height: 30px;
  resize:none;
}
.profile-content .form-style .select-option-link,
.profile-content .form-style .select-option-goods{
  position: absolute;
  left: 0;
  bottom: 7px;
  color: #3669ab;
  font-size: 12px;
  word-spacing: -2px;
  border-right: 2px solid #e5ecf0;
  padding-right: 12px;
  line-height: 20px
}
.profile-content .form-style .select-option-goods:hover,
.profile-content .form-style .select-option-link:hover{
  color: #82bb1f
}
.profile-content .form-style .select-option-goods i,
.profile-content .form-style .select-option-link i{
  font-size: 18px;
  margin-left: 6px;
  position: relative;
  top: 2px
}

.separate-layer{
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
  position: relative;
  border-top: 2px dotted #e4ecef
}
.separate-layer h2{
  line-height: 25px;
  margin-bottom: 15px;
  color: #3669ab;
  font-size: 18px;
  width: 100%
}
.separate-layer h2 i{
  line-height: 25px;
  color: #3669ab;
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-left: 8px
}
.separate-layer p{
  line-height: 25px;
  word-spacing: -1px;
  margin-bottom: 20px
}

.credit-layer{
  margin-bottom: 35px
}
.credit-layer .wallet-inventory{
  font-size: 15px;
  word-spacing: -1px;
  line-height: 27px;
  color: #566876
}
.credit-layer .wallet-inventory i{
  font-size: 18px;
  font-style: normal;
  color: #7eb81b;
  padding: 0 5px
}
.credit-layer p{
  line-height: 25px;
  word-spacing: -1px;
  text-align: justify;
  padding: 10px 0;
  color: #3669ab
}

.form-credit{
  width: 60%
}
.form-credit .submit-button.green{
  left: -5px;
  margin-top: 25px
}

.section-title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
  word-spacing: -1px;
  color:#122D50;
}
.section-title.financial{
  margin-bottom: 0
}


/*send pages*/
.order-steps-status{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 20px auto 50px
}
.order-steps-status:before{
  position: absolute;
  height: 4px;
  width: 100%;
  top:15px;
  right: 0;
  background-color: #e5ecf0;
  content: '';
  z-index: 1
}
.order-steps-status .status-step-layer{
  position: relative;
  height: 50px;
  width: 33%;
  float: right;
  z-index: 4
}
.order-steps-status .status-step-layer a{
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border:3px solid #e5ecf0;
  color: #b2c4cf;
  line-height: 51px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -11px;
  z-index: 3;
  word-spacing: -2px
}/*
.send-goods-b2b .order-steps-status .status-step-layer{
  width: 23.5%
}
.send-goods-b2b .order-steps-status .status-step-layer a{
  width: 90px;
  font-size: 14px;
  line-height: 48px
}*/
.order-steps-status .status-step-layer.done a,
.order-steps-status .status-step-layer.current a{
  border:3px solid #8ac81f;
  color: #7bb419
}
.order-steps-status .status-step-layer.done:before,
.order-steps-status .status-step-layer.current:before{
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  top: 15px;
  background-color: #8ac81f;
  content: '';
  z-index: 2
}
.order-steps-status .status-step-layer.done:after{
  position: absolute;
  content: '\f269';
  font-family: 'Material-icon';
  color: #8ac81f;
  font-size: 25px;
  z-index: 4;
  width: 21px;
  height: 21px;
  line-height: 20px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #fff;
  right: -5px;
  top: -10px;
}
.order-steps-status .final-step-layer{
  position: absolute;
  left: 5px;
  top: -4px;
  width: 45px;
  height: 45px;
  font-size: 55px;
  color: #e5ecf0;
  background-color: #fff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  z-index: 4
}
.order-steps-status .final-step-layer.done{
  color: #8ac81f;
}
.order-steps-status .final-step-layer i{
  position: relative;
  top: -20px;
  right: -2px
}

.selected-goods-list,
.selected-names-list{
  width: 600px;
  height: auto;
  position: absolute;
  right: 50%;
  margin-right: -300px;
  top: 35px;
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: none;
  padding-bottom: 20px;
  z-index: 1000
}
.selected-goods-list .heading,
.selected-names-list .heading{
  width: 100%;
  height: 45px;
  padding: 0 15px;
  border-bottom: 1px solid #e5ecf0;
  position: relative;
  margin-bottom: 20px
}
.selected-goods-list .heading h2,
.selected-names-list .heading h2{
  font-size: 16px;
  line-height: 45px;
}
.selected-goods-list .heading span,
.selected-names-list .heading span{
  font-size: 23px;
  position: absolute;
  left: 15px;
  top: 10px
}
.selected-goods-list .heading span:hover,
.selected-names-list .heading span:hover{
  color: #3669ab;
  cursor: pointer;
}
.selected-goods-list .inner,
.selected-names-list .inner{
  padding: 0 25px 10px 30px;
}
.selected-names-list .inner p{
  padding: 0 0 10px
}
.selected-goods-list .inner .slimScrollDiv,
.selected-names-list .inner .slimScrollDiv{
  margin-bottom: 15px
}
.selected-names-list .inner .add-new-name{
  padding: 15px 0 10px;
  display: none
}
.selected-names-list .inner .add-new-name-link{
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0 0;
  color: #3669ab
}
.overlay-profile,.popup-map-overlay,.popup-terminal-overlay{
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100
}
.popup-map{
  position: fixed;
  padding: 25px;
  width: 95%;
  height: 90%;
  background-color: #fff;
  top: 5%;
  right: 2.5%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 1000;
  display: none
}
.popup-terminal{
  position: fixed;
  padding-bottom: 30px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  top: 5%;
  right: 20%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 1000;
  display: none;
  overflow: hidden;
}
.popup-terminal .heading{
  position: relative;
  height: 50px;
  font-weight: bold;
  border-bottom: 1px solid #e5ecf0;
  margin-bottom: 25px
}
.popup-terminal .heading h2{
  line-height: 50px;
  font-size: 16px;
  padding-right: 20px
}
.popup-terminal .inner{
  position: relative;
  padding: 0 25px 0 35px
}


#map {
        height: 100%;
}
/* Optional: Makes the sample page fill the window. */
.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}


.close-map{
  font-size: 35px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 3000
}
.close-terminal{
  font-size: 35px;
  color: #3669ab;
  position: absolute;
  left: 15px;
  top: 4px;
  z-index: 3000
}
.close-map:hover{
  color: #3669ab;
  cursor: pointer;
}
.close-terminal:hover{
  color: #ccc;
  cursor: pointer;
}

.receiver-address-map #select-address-on-map,
.receiver-address {
  display: none
}
.receiver-address-map .multi-radio-in-row{
  margin: 18px 0
}
.terminal-info{
  padding: 15px 0 25px;
  border-bottom: 2px dotted #e5ecf0;
  margin-bottom: 10px;
  position: relative;
}
.terminal-info .radio-layer label{
  color: #3669ab
}
.terminal-info .radio-layer label:hover{
  cursor: pointer;
}
.terminal-info .img-layer{
  width: 130px;
  margin-left: 20px;
  float: right;
}
.terminal-info .img-layer img{
  width: 100%;
  border:1px solid #e5ecf0;
  padding: 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.terminal-info p{
  font-size: 14px;
  line-height: 23px;
  color: #6b8493
}

.tooltip-pocket-layer{
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border:1px solid #e5ecf0;
  padding: 20px 25px 0 20px;
  position: relative;
  display: none
}
.tooltip-pocket-layer label{
  padding-bottom: 10px
}
.tooltip-pocket-layer:before{
  position: absolute;
  top: -8px;
  right: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #e5ecf0 transparent;
  content: ''
}
.tooltip-pocket-layer:after{
  position: absolute;
  top: -6px;
  right: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #fff transparent;
  content: ''
}
.insurance-pocket{
  margin-bottom: 20px
}

.count-of-pocket{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border:1px solid #e5ecf0;
  padding:0 20px 0 10px;
  margin-top: 15px;
  margin-bottom: -5px
}
.count-of-pocket .item label{
  font-size: 16px;
  padding-top: 5px
}
.count-of-pocket .item .radio-layer .radio-option label:before{
  top: 8px
}
.count-of-pocket .item .radio-layer .radio-option label:hover:before,
.count-of-pocket .item .radio-layer .radio-option input:checked + label:before{
  top: 5px
}

.factor-info{
  padding: 5px 0 25px
}
.factor-info ul li{
  padding: 4px 14px;
  font-size: 15px;
  color: #768a96;
  line-height: 25px;
  position: relative;
}
.factor-info ul li:before{
  content: '\f19b';
  font-family: 'Material-icon';
  color: #c4d4dd;
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 21px
}
.factor-info ul li span{
  font-size: 16px;
  font-weight: bold;
  color: #3669ab;
  word-spacing: -1px
}
.factor-info ul li i{
  font-size: 15px;
  color: #3669ab;
  font-style: normal;
  padding: 0 4px
}


.pagination-layer{
  padding: 0 15px
}
table tbody tr td{
  font-size: 13px
}
.table-list {
  margin-top: 20px;
  margin-bottom: 20px
}
.table-list .section-style{
  margin-bottom: 10px
}
.table-list .tbl-row{
  padding: 5px
}
.table-list .tbl-row .heading{
  position: relative;
  background-color: #e5ecf0;
  padding: 15px 15px 15px 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.table-list .tbl-row .heading:hover{
  cursor: pointer;
}
.table-list .tbl-row .heading .date ,
.table-list .tbl-row .heading .code ,
.table-list .tbl-row .heading .option {
  background-color: #fff;
  padding: 3px 7px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 0 10px 10px;
  font-size: 13px
}
.table-list .tbl-row .heading .receiver ,
.table-list .tbl-row .heading .person {
  display: block;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  padding: 3px 0
}
.table-list .tbl-row .heading .receiver i,
.table-list .tbl-row .heading .person i{
  font-size: 17px;
  color: #92b1b6;
  position: relative;
  top: 2px;
  margin-left: 7px
}
.table-list .tbl-row .heading .accordion-sign{
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 16px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.send-goods-b2b .table-list .tbl-row .heading .accordion-sign{
  top: 22px;
}
.table-list .tbl-row .detail{
  padding:10px 0 0;
  display: none
}
.table-list .tbl-row .detail ul{
  padding: 0 10px 5px 
}
.table-list .tbl-row .detail ul li{
  padding: 5px 0;
  font-size: 13px;
  line-height: 22px;
  color: #6F7C85
}
.table-list .tbl-row .detail ul li span{
  color: #122D50
}
.table-list .tbl-row .detail ul li:nth-child(3) span{
  color: #D41C58
}
.table-list .tbl-row .detail ul li i{
  font-size: 17px;
  color: #92b1b6;
  position: relative;
  top: 2px;
  margin-left: 3px
}

.table-list .tbl-row .detail .map-layer{
  margin: 15px 0 5px
}


.ticket-box{
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
}
.ticket-box .delete-item{
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #b4c6d4;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #e4ebf4;
  position: absolute;
  left: 10px;
  top: 10px;
  border:0;
  z-index: 10
}
.filter-messages{
  padding: 10px 0 35px !important;
  margin-bottom: 40px;
  border-bottom: 1px solid #e4ebf4
}
.ticket-box .delete-item:hover{
  color: #fff;
  background-color: #f76464;
}
.ticket-box .delete-item i{
  position: relative;
  left: 4px;
  top: 1px
}
.ticket-box.unread{
  border:1px solid #fbe3e3;
  box-shadow: 0 0 8px #fbe3e3;
  -moz-box-shadow: 0 0 8px #fbe3e3;
  -webkit-box-shadow: 0 0 8px #fbe3e3;
}
.ticket-box.answer{
  padding: 5px
}
.ticket-box:last-child{
  margin-bottom: 0
}
.ticket-box .head{
  padding-bottom: 10px
}
.ticket-box .head span{
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 13px;
  background-color: #ecf3fc;
  margin:4px 0 4px 10px;
  color: #5e728a
}
.ticket-box .head span i{
  font-style: normal;
  font-weight: bold;
  color: #555967
}
.ticket-box .text{
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 23px;
  text-align: justify;
}
.ticket-box .text a:hover{
  color: #D41C58
}

.ticket-box .question{
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #cccfdd
}
.ticket-box .question a{
  font-size: 16px;
  padding:5px 0 15px;
  line-height: 23px
}
.ticket-box .question a:hover{
  color: #D41C58
}
.ticket-box .question p{
  font-size: 13px;
  line-height: 23px;
  text-align: justify;
  margin-bottom: 0;
  padding: 0
}
.ticket-box .answers{
  position: relative;
}
.ticket-box form{
    margin-top: 35px
}
.ticket-box .answers .you{
    padding: 15px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    line-height: 23px;
    text-align: justify;
    font-size: 13px;
    background-color: #edf3f9;
    margin: 15px 0;
    position: relative;
}
.ticket-box .answers .you:before{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #edf3f9;
    right: -10px;
    top: 10px;
    content: ''
}
.ticket-box .answers .supporter{
    padding: 15px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    line-height: 23px;
    text-align: justify;
    font-size: 13px;
    background-color: #e3ebf4;
    margin: 15px 0;
    position: relative;
}
.ticket-box .answers .supporter:before{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e3ebf4 transparent transparent;
    left: -10px;
    top: 10px;
    content: ''
}
.ticket-box .answers .supporter p,
.ticket-box .answers .you p{
    padding: 0;
    margin: 0
}
.ticket-box .answers .supporter span,
.ticket-box .answers .you span{
    display: block;
    line-height: 20px;
    padding-bottom: 5px;
    color: #374a61
}
.ticket-box .answers p{
    color: #6d87a5
}

.message-list-layer .pagination-layer,
.message-list-layer .pagination-layer .inner{
  padding: 0
}
.message-list-layer .pagination-layer .next-page{
  top: 0;
  right: 0
} 
.message-list-layer .pagination-layer .prev-page{
  top: 0;
  left: 0 
}

.new-address-layer{
  padding: 15px;
  margin: 0 0 20px;
  display: none
}

.add-new-address{
  margin-bottom: 20px
}

.search-button{
  width: auto !important;
  display: table !important;
  margin: 40px auto 30px !important
}
.search-button button{
  width: 150px !important;
  margin: 0 5px !important;
}

.search-delivery{
  overflow: hidden;
}

.search-delivery h6{
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px
}
.search-delivery-animate{
  width: 304px;
  height: 285px;
  background: url('../images/delivery/view.png');
  position: relative;
  margin: 35px auto
}
.search-delivery-animate .motorcycle{
  position: relative;
  top: 50px;
  right: 40px;
  z-index: 5;
  width: 100%
}
.search-delivery-animate .clouds{
  height: 73px
}
.search-delivery-animate .clouds{
  position: absolute;
  top: 45px;
  right: -400px;
  z-index: 4;
  height: 73px;
  animation : cloud 3.5s linear infinite;
  -moz-animation : cloud 3.5s linear infinite;
  -webkit-animation : cloud 3.5s linear infinite;
}

@keyframes cloud{
  0%{right:-400px}
  20%{right:-300px}
  30%{right:-200px}
  40%{right:-100px}
  50%{right:0}
  60%{right:100px}
  70%{right:130px}
  80%{right:200px}
  90%{right:-400px;opacity: 0}
  100%{right:-400px}
}
@-moz-keyframes cloud{
  0%{right:-400px}
  20%{right:-300px}
  30%{right:-200px}
  40%{right:-100px}
  50%{right:0}
  60%{right:100px}
  70%{right:130px}
  80%{right:200px}
  90%{right:-400px;opacity: 0}
  100%{right:-400px}
}
@-webkit-keyframes cloud{
  0%{right:-400px}
  20%{right:-300px}
  30%{right:-200px}
  40%{right:-100px}
  50%{right:0}
  60%{right:100px}
  70%{right:130px}
  80%{right:200px}
  90%{right:-400px;opacity: 0}
  100%{right:-400px}
}

.search-delivery-animate .wheel-right{
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 36px;
  right: 37px;
  z-index: 3;
  animation : wheel 0.5s linear infinite;
  -moz-animation : wheel 0.5s linear infinite;
  -webkit-animation : wheel 0.5s linear infinite;
}
.search-delivery-animate .wheel-left{
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 36px;
  left: 56px;
  z-index: 3;
  animation : wheel 0.5s linear infinite;
  -moz-animation : wheel 0.5s linear infinite;
  -webkit-animation : wheel 0.5s linear infinite;
}

@keyframes wheel{
  0%{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg); bottom: 36px}
  100%{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg); bottom: 35px}
}
@-moz-keyframes wheel{
  0%{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg); bottom: 36px}
  100%{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg); bottom: 35px}
}
@-webkit-keyframes wheel{
  0%{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg); bottom: 36px}
  100%{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg); bottom: 35px}
}

.search-delivery-animate .smoke{
  width: 50px;
  height: 16px;
  position: absolute;
  bottom: 52px;
  left: 4px;
  z-index: 3;
  animation : smoke 0.5s infinite;
  -moz-animation : smoke 0.5s infinite;
  -webkit-animation : smoke 0.5s infinite;
}

@keyframes smoke{
  0%{left:4px; opacity:1}
  5%{left:2px; opacity:0.9}
  10%{left:0; opacity:0.8}
  15%{left:-2px; opacity:0.7}
  20%{left:-4px; opacity:0.6}
  25%{left:-6px; opacity:0.5}
  30%{left:-8px; opacity:0.3}
  35%{left:-10px; opacity:0.2}
  40%{left:0; opacity:0}
  50%{left:0; opacity:0}
  55%{left:0; opacity:0}
  60%{left:4px; opacity:0}
  65%{left:4px; opacity:0}
  70%{left:4px; opacity:0}
  75%{left:4px; opacity:0}
  80%{left:4px; opacity:0}
  85%{left:4px; opacity:0}
  90%{left:4px; opacity:0}
  95%{left:4px; opacity:0.8}
  100%{left:4px; opacity:1}
}
@-moz-keyframes smoke{
  0%{left:4px; opacity:1}
  5%{left:2px; opacity:0.9}
  10%{left:0; opacity:0.8}
  15%{left:-2px; opacity:0.7}
  20%{left:-4px; opacity:0.6}
  25%{left:-6px; opacity:0.5}
  30%{left:-8px; opacity:0.3}
  35%{left:-10px; opacity:0.2}
  40%{left:0; opacity:0}
  50%{left:0; opacity:0}
  55%{left:0; opacity:0}
  60%{left:4px; opacity:0}
  65%{left:4px; opacity:0}
  70%{left:4px; opacity:0}
  75%{left:4px; opacity:0}
  80%{left:4px; opacity:0}
  85%{left:4px; opacity:0}
  90%{left:4px; opacity:0}
  95%{left:4px; opacity:0.8}
  100%{left:4px; opacity:1}
}
@-webkit-keyframes smoke{
  0%{left:4px; opacity:1}
  5%{left:2px; opacity:0.9}
  10%{left:0; opacity:0.8}
  15%{left:-2px; opacity:0.7}
  20%{left:-4px; opacity:0.6}
  25%{left:-6px; opacity:0.5}
  30%{left:-8px; opacity:0.3}
  35%{left:-10px; opacity:0.2}
  40%{left:0; opacity:0}
  50%{left:0; opacity:0}
  55%{left:0; opacity:0}
  60%{left:4px; opacity:0}
  65%{left:4px; opacity:0}
  70%{left:4px; opacity:0}
  75%{left:4px; opacity:0}
  80%{left:4px; opacity:0}
  85%{left:4px; opacity:0}
  90%{left:4px; opacity:0}
  95%{left:4px; opacity:0.8}
  100%{left:4px; opacity:1}
}

.person-info .img-layer{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  margin: 10px auto 30px
}
.person-info .img-layer img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 3px solid #e5ecf0;
}
.person-info .places{
  width: auto;
  display: table;
  margin: 0 auto 30px
}
.person-info .places span{
  width: auto;
  display: inline-table;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  padding: 2px 16px;
  font-size: 12px;
  line-height: 25px;
  margin: 0 5px;
  background-color: #e5ecf0
}

.person-info .places span i{
  font-size: 14px;
  position: relative;
  top: 1px;
  margin-left: 2px;
  color: #9ba2a6
}
.person-info ul li{
  line-height: 22px;
  padding: 5px 0;
  text-align: center;
}

@media screen and (max-width : 1199px){
  .right-side-heading > span{
    display: block;
  }
  .right-side-heading > a{
    float: none;
    margin: 15px 0 0 15px
  }
  .form-credit{
    width: 100%
  }
}
@media screen and (max-width : 991px){
  .profile-page .logout{
    display: none
  }
  .profile-page .responsive-logout{
    display: block;
    margin-bottom: 25px
  }
  aside .aside-section > .inner > ul li a{
    padding: 5px 12px 5px 0 
  }
  .section-title.financial{
    margin-bottom: 0
  }
}
@media screen and (max-width : 767px){
  .selected-goods-list ,
  .selected-names-list {
    width: 90%;
    right: auto;
    margin-right: 5%;
    top: 15px;
  }
  .profile-content > .inner{
    padding: 25px 20px
  }
}
@media screen and (max-width : 600px){
  .status-profile-layer .status-item .heading .close-status{
    display: none
  }
  .status-profile-layer .status-item .heading{
    padding: 0;
    border-right: 0
  }
  .status-profile-layer .status-item .heading h4 span{
    padding: 0
  }
  .right-side-heading > span i.kbk-credit-cards-payment{
    display: none
  }
  .result-search .status-profile-layer .status-item{
    padding: 0;
    border:0;
    box-shadow: 0 0 0;
  }
  .profile-content > .inner.search-inner{
    padding: 15px
  }
  .order-steps-status .status-step-layer{
    width: 27%
  }
  .order-steps-status .status-step-layer a{
    width: 45px;
    height: 45px;
    line-height: 41px;
    font-size: 13px;
    top: -7px;
  }
  .order-steps-status .final-step-layer {
    left: 0;
    top: 0;
    font-size: 50px;
  }
  .profile-content > header h1{
    font-size: 15px;
  }
  .form-style .submit-button{
    font-size: 13px
  }
  .popup-terminal {
    width: 95%;
    height: 90%;
    top: 5%;
    right: 2.5%;
  }

}
@media screen and (max-width : 480px){
  .right-side-heading > a{
    width: 100%
  }
  .status-profile-layer .status-item{
    padding: 15px
  }
  .profile-content .form-style .select-option-link,
  .profile-content .form-style .select-option-goods{
    position: static;
    padding-right: 0;
    border: 0;
    padding-top: 15px
  }
  .terminal-info .img-layer{
    display: none
  }
}
@media screen and (max-width : 450px){
  .status-profile-layer .status-item h2{
    font-size: 11px;
    word-spacing: -2px
  }
}
@media screen and (max-width : 420px){
  .profile-content > header span{
    position: static;
    padding-top: 5px
  }
  .profile-content > header span:before{
    display: none
  }
  .search-delivery-animate{
    width: 270px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .profile-content > .send-goods-inner{
    padding: 15px 5px !important
  }
  .search-button button{
    width: 120px !important
  }
  .search-delivery-animate .motorcycle{
    right: 18px;
    top: 55px
  }
  .search-delivery-animate .wheel-right{
    right: 14px
  }
  .person-info .places{
    width: 100%;
    margin: 0 0 10px
  }
  .person-info .places span{
    width: 90%;
    margin: 0 auto 12px;
    display: block;
    text-align: center;
  }
}