<div class="section-main-web-app">

    <section class="main-web-app">
        <a (click)="Back()" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
        <div class="main-web-app-top main-web-app-top1 main-web-app-top2">

            <div class="web-app-title">

                <div class="title-web-app">افزایش اعتبار</div>
            </div>


            <div class="etebar">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <div class="item active" data-value="20000">
                            <img (click)="vlauePay(20000)" src="../assets/img/18-tasvire-kart.png" width="450" height="215">
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item" data-value="40000">
                            <img (click)="vlauePay(40000)" src="../assets/img/18-tasvire-kart-copy.png" width="450" height="215">
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item" data-value="60000">
                            <img (click)="vlauePay(60000)" src="../assets/img/18-tasvire-kart-copy2.png" width="450" height="215">
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item" data-value="80000">
                            <img (click)="vlauePay(80000)" src="../assets/img/18-tasvire-kart-copy3.png" width="450" height="215">
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item" data-value="100000">
                            <img (click)="vlauePay(100000)" src="../assets/img/18-tasvire-kart-copy4.png" width="450" height="215">
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item" data-value="120000">

                            <img (click)="vlauePay(120000)" src="../assets/img/18-tasvire-kart-copy5.png" width="450" height="215">
                            <div class="carousel-caption">

                            </div>
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev" (click)="Cardpay()">
                        <img src="/assets/img/icon-back.svg" width="20" />
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next" (click)="Cardpay()">
                        <img src="/assets/img/icon-back.svg" width="20" class="crousel-right" />
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


        </div>

        <div class="main-web-app main-web-app-18">

            <div class="input-pay">
                <input autocomplete="off" type="tel" [(ngModel)]="pay"  (ngModelChange)="ngModelChange($event)"><span>تومان</span>
                <div class="price-pay">{{pay | toman}}</div>
                <p>مبلغ دلخواه خود را وارد کنید .</p>
                {{credit | toman}} 
              
            </div>

        </div>
        <div class="btn-web-app">
            <button (click)="Pay()">پرداخت از طریق درگاه بانک سامان</button>
        </div>

    </section>

</div>