<div class="ios-help">
  <p class="page-mob-p1">حل مشکل کاربران ios</p>
  <p class="page-mob-p2">راه حل دائمی ( توصیه می شود)</p>

  <p class="page-mob-p3">این برنامه نسخه نهایی یارباکس است . که با لمس سه دکمه به طور دائمی به گوشی شما اضافه شده و هیچ
    گاه نیاز به آپدیت ندارد.</p>

  <p class="page-mob-p4">راهنمای نصب</p>

  <p>۱) در نوار پایین همین صفحه دکمه ی<img src="/assets/img/webapp1.png" class="page-mob-img1" />را انتخاب کنید.</p>
    <p>۲) از قسمت پایین منوی باز شده دکمه<img src="/assets/img/webapp2.png" class="page-mob-img2" />را انتخاب کنید.</p>
      <p>۳) و در مرحله‌ آخر گزینه<img src="/assets/img/webapp3.png" class="page-mob-img3" />را از قسمت بالای صفحه انتخاب کنید.</p>
        <a href="#" class="page-mob-a1">باشه برای بعد</a>

       
</div>