
				
  <div [style.visibility]="getIsLogin() ? 'visible' : 'hidden'"  >	
			<a id="menu-toggle"   class="btn btn-lg toggle"><img   src="/assets/img/3-meno.svg" width="25" height="25"></a>
			<div id="sidebar-wrapper"  >
			  <ul class="sidebar-nav">
				<a id="menu-close" href="#" class="btn btn-lg pull-right toggle"><i class="fas fa-times"></i></a>
				 <li class="sidebar-top">
					<div>
						<div class="sidebar-top-info">
							<div class="profile-info"><p class="name-user"  >{{ getProfile().firstName}}  {{ getProfile().lastName}}</p></div>
							<div class="profile-info emtiaz"><span  >{{ getProfile().point}}</span>امتیاز</div>
						</div>
					</div> 
				</li>
				<li>
					<div class="etebar-side-bar">
					اعتبار شما <span  >{{ getProfile().credit}}</span>تومان<a (click)=" hideMnu()" [routerLink]="['/wallet-charging']"><img src="/assets/img/3-mosbat.svg" width="25" height="25"></a>
					</div>
				</li>
				<li>
				  <a href="#" class="a-sidebar"><img src="/assets/img/3-icon-gozareshat.svg" width="35" height="35">گزارشات</a>
				</li>
				<li>
				  <a [routerLink]="['/base']" (click)=" hideMnu()" class="a-sidebar"><img src="/assets/img/3-icon-faalliatha.svg" width="35" height="35">فعالیت ها</a>
				</li>
				<li>
						<a [routerLink]="['/wallet-charging']" (click)=" hideMnu()" class="a-sidebar"><img src="/assets/img/3-icon-faalliatha.svg" width="35" height="35">شارژ کیف پول</a>
					</li>
				<li>
				  <a href="#" class="a-sidebar" (click)=" hideMnu()"><img src="/assets/img/3-icon-adreshaye-montakhab.svg" width="35" height="35">آدرس های منتخب</a>
				</li>
				  <li>
				  <a   [routerLink]="['/messages']"  class="a-sidebar" (click)=" hideMnu()"><img src="/assets/img/3-icon-sandoghe-payam.svg" width="35" height="35">صندوق پیام</a>
				</li>
				<li>
				  <a  [routerLink]="['/about-yarbox']"  class="a-sidebar" (click)=" hideMnu()"><img src="/assets/img/3-icon-darbareye-ma.svg" width="35" height="35">درباره ما</a>
				</li>
				
				<li>
				  <a   [routerLink]="['/Support']"  class="a-sidebar" (click)=" hideMnu()"><img src="/assets/img/3-icon-poshtibani.svg" width="35" height="35">پشتیبانی</a>
				</li>
				  <li>
				  <a (click)="SingOut()" class="a-sidebar" (click)=" hideMnu()"><img src="/assets/img/3-icon-khorooj.svg" width="35" height="35">خروج</a>
				</li>
			  </ul>
			</div>
	</div>


	<main [@fadeAnimation]="getRouterOutletState(o)" (click)="hideMnu()">
		
		<router-outlet #o="outlet" class="bac-loding" >
				<!--img id="loding"  [hidden]="!getLodingStatus()" src="/assets/img/loding2.gif" -->
				<div class="back-loding"   [style.visibility]=" getLodingStatus() ? 'visible' : 'hidden'" ></div><img [style.visibility]=" getLodingStatus() ? 'visible' : 'hidden'"  src="/assets/img/loding2.gif" class="loding-img" width="100" height="100">

		</router-outlet>
	</main>
	<!-- [hidden]="!getLodingStatus()" -->