:host {
    display: flex;
    overflow: hidden;
    height: 100vh;
}
:host app-nav-bar {
    position: absolute;
    width: 100%;
    z-index: 1;
}
:host main {
    flex: 1;
    position: relative;
}
:host /deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
}
.loding-img {
    margin: 12% 40%;
    position: relative;
    z-index: 999;
    width: 200px;
    height: auto;
}
.back-loding {
    height: 100vh;
    background: rgba(131, 131, 131, 0.7);
    z-index: 15;
    position: fixed;
    width: 100%;
    display: inline-block;
}
.bac-loding {
    position: absolute;
    width: 100%;
}



@media screen and (max-width:768px) {
    .loding-img {
        margin: 27% 37% !important;
    }

}
@media screen and (max-width:500px) {
    .loding-img {
        margin: 51% 19% !important;
    }

}