<div class="section-main-web-app">
    	
  <section class="main-web-app">
    
    <div class="main-web-app-top">
      
      <div class="web-app-title">
        
        <div class="title-web-app">جزییات مرسوله</div>
      </div>
    
    </div>
    <a [routerLink]="['/destination']" class="back-web-app"><i class="fas fa-angle-left"></i></a>
    <div class="main-web-app main-web-app-pack">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="maghsad"  >
      <div class="pack-part">
      <div class="btn-pack" data-toggle="modal" data-target="#myModal">
        <img src="/assets/img/3-mosbat.svg" width="20" height="20"><span>اضافه کردن بار</span>
     
      </div>
      
      
      <div id="myModal" class="modal fade" role="dialog"  >
        <div class="modal-dialog">

        <div class="modal-content modal-content-packs">
          
          <div class="modal-body">
            <img src="/assets/img/6-tedade-basteh.svg" width="30" height="30">
      
          <label>تعداد بسته</label>
          <div class="quantity">
              <!-- (input)="onSearchChange($event.target.value)" -->
            <input type="number" [(ngModel)]="count" class="number-pack" name="count" min="1"   />
            <div id="inc-button" (click)="CountPacks(1)" class="spinner-button">+</div>
            <div id="dec-button" (click)="CountPacks(0)" class="spinner-button">-</div>
            
          </div>
           
            <select (change)="SelectType($event.target.value)">
            <option *ngFor="let type of PostPackType" value="{{type.id}}" >{{type.title}} </option>
         
            </select>
            
           
            
            <div class="btn-circle-download" id="btn-ok-pack"   id="myModal" data-dismiss="modal">
              	<span class='pulse-button' data-dismiss="modal" (click)="AcceptPacks()"><i class="fas fa-check"></i></span>
             </div>
            
            
            
          </div>
          
        </div>

        </div>
      </div>	
    
        
      <div class="packs">
        <div  *ngFor="let pack of packs; let i = index" class="pack-item"><span class="pack-item-number"> {{i+1}}</span>{{pack.count}} عدد  {{getPostPackType(pack.typeId) }}  برای شما ثبت شد <a ><i class="fas fa-trash-alt" (click)="deletepack(pack)"></i></a></div>
        <p *ngIf="packs.length==0" class="nul-pack"  ><img src="/assets/img/2-ghavanin.svg" width="25" height="35">لطفا مرسوله خود را وارد کنید</p>
   <span *ngIf="f.submitted && packs.length==0"  class="border-pack"></span>
      </div>
        
        
        
        
      </div>
      <br>
      <div class="pack-part pack-part2">
      <img src="/assets/img/6-baste-bandi.svg" width="80" height="80" class="pack-part-i">
      <label for="pack-web-app">بسته بندی شود</label>
    
      <div class="radiobtn-pack">
          <input id="radio-1" type="radio" name="Data1" value="agree" [checked]="mainPacks.isPacking==true? true: false" (click)="PackingStatus(true)" />
          <label for="radio-1"><i class="fas fa-check"></i></label>
          <input id="radio-2" type="radio" name="Data1" value="disagree" [checked]="mainPacks.isPacking==false? true: false"  (click)="PackingStatus(false)"/>
          <label for="radio-2"><i class="fas fa-times"></i></label>
      </div>
      </div>
      <br>
  
      <div class="pack-part pack-part2">
      <img src="/assets/img/6-bime.svg" width="80" height="80" class="pack-part-i">
      <label for="bime-web-app">بیمه شود</label>
        <div class="radiobtn-pack">
          <input id="radio-3" type="radio" name="Data2" value="agree" [checked]="mainPacks.isInsurance==true? true: false" (click)="InsuranceStatus(true)"/>
          <label for="radio-3"><i class="fas fa-check"></i></label>
          <input id="radio-4" type="radio" name="Data2" value="disagree" [checked]="mainPacks.isInsurance==false? true: false"  (click)="InsuranceStatus(false)"/>
          <label for="radio-4"><i class="fas fa-times"></i></label>
        </div>
        
      </div>
      <br>
      
      <div class="form-pack pack-part2">
      <input type="text" placeholder="ارزش مرسوله خود را وارد کنید" [hidden]="!mainPacks.isInsurance==true" required [(ngModel)]="mainPacks.insurancePrice"  name="insurancePrice"  #insurancePrice="ngModel"     >
     <p *ngIf="mainPacks.isInsurance==true && mainPacks.insurancePrice>=1">{{mainPacks.insurancePrice | toman}}</p> 
      <br>
 
      <div *ngIf="f.submitted && insurancePrice.invalid && mainPacks.isInsurance==true" class="invalid-feedback">
          <div *ngIf="insurancePrice.errors.required">ارزش مرسوله خود را وارد کنید</div>
        </div>
      <br>
      <input type="text" placeholder="توضیحات اقلام داخل بسته"  [(ngModel)]="mainPacks.content" name="content">
      </div>
      <!--button type="submit">send</button-->
      <div class="btn-web-app">
        <button type="submit" (click)="AcceptPack()">ثبت درخواست</button>
      </div>
    </form>
    </div>
    <app-error *ngIf="error==true"></app-error>
    
  
  </section>
  
  </div>
