<div class="section-main-web-app">

    <section class="main-web-app main-web-app-1">
        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">ثبت نام در یارباکس</div>

            </div>

        </div>
        <a [routerLink]="['/login']" class="back-web-app"><img src="/assets/img/icon-back.svg" width="20" /></a>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="form-register">
            <div class="web-app-text1">
                <div class="register-form">
                    <img src="/assets/img/2-name&name-khanevadegi.svg" width="35" height="35">
                    <input autocomplete="off" type="text" placeholder=" نام خانوادگی" class="register-input" [(ngModel)]="regiserModel.lastName" name="lastName" #lastName="ngModel" required />
                    <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                        <div *ngIf="lastName.errors.required" class="error-webapp">نام خانوادگی را وارد کنید</div>
                    </div>
                </div>
                <div class="register-form">
                    <img src="/assets/img/2-name&name-khanevadegi.svg" width="35" height="35">
                    <input autocomplete="off" type="text" placeholder="نام " class="register-input" [(ngModel)]="regiserModel.firstName" name="firstName" #firstName="ngModel" required />
                    <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                        <div *ngIf="firstName.errors.required" class="error-webapp">نام را وارد کنید</div>
                    </div>
                </div>
                <div class="register-form">
                    <img src="/assets/img/2-mob.svg" width="35" height="35">
                    <input autocomplete="off" type="text" placeholder="شماره موبایل" class="register-input" [(ngModel)]="regiserModel.phoneNumber" #mobile="ngModel" name="phoneNumber" pattern="^(\+98|0)?9\d{9}$" required />
                    <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                        <div *ngIf="mobile.errors.required" class="error-webapp error-webapp2">شماره همراه / ثابت را وارد کنید</div>
                        <div [hidden]="!mobile.errors.pattern" class="error-webapp error-webapp2"> فرمت شماره همراه را درست وارد کنید از ارقام انگیسی استفاده کنید </div>
                    </div>
                </div>
                <div class="register-form">
                    <img src="/assets/img/2-mob.svg" width="35" height="35">
                    <input autocomplete="off" type="text" placeholder="کد معرف" class="register-input" [(ngModel)]="regiserModel.reagentCode" name="reagentCode" #reagentCode="ngModel" />
                </div>
                <div class="register-form">
                    <br>
                    <input type="checkbox" [(ngModel)]="role" class="check-rule">با<a data-toggle="modal" data-target="#myModalcustomerlogin" class="rule-customer"> قوانین و شرایط</a> سایت موافقم.
                </div>


            </div>

            <div class="btn-web-app"><button>ثبت نام</button></div>
        </form>

    </section>

</div>

<div id="myModalcustomerlogin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">قوانین و شرایط</h4>
            </div>
            <div class="modal-body">

                <h2>سند قوانین و شرایط یارباکس (Terms of Service)</h2>

                <p>&nbsp;</p>

                <h3 dir="RTL">ماده ۱- تعاریف و اصطلاحات</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">اصطلاحاتی که در این قوانین و مقررات به کار رفته است دارای معانی مشروح زیر است :</p>

                <p dir="RTL">۱-۱:صاحب بار (فرستنده بار): شخص حقیقی یا حقوقی که در سامانه یارباکس دارای بار برای ارسال می باشد.</p>

                <p dir="RTL">۲-۱: تحویل گیرنده بار (گیرنده بار): شخص حقیقی یا حقوقی که توسط صاحب بار (فرستنده بار) به عنوان گیرنده بار معرفی شده است .</p>

                <p dir="RTL">3-۱: بار: محموله ای که توسط سفیر عضو یارباکس با پذیرش ایشان و به درخواست و ثبت بار توسط صاحب بار(فرستنده بار) قرار است حمل و به سلامت تحویل گیرنده بار گردد .</p>

                <p dir="RTL">4-۱:کاربر: شخصی است که با فناوری ارتباطی و به وسیله اینترنت به اپلیکیشن و سایت یارباکس متصل و از خدمات نرم افزاری یارباکس بهره مند می گردد .</p>

                <p dir="RTL">5-۱: شرکت های بیمه گذار: شرکای تجاری یارباکس تعدادی از شرکت های رسمی با کد نمایندگی از شرکت های بیمه گذار هستند که وظیفه ی بیمه کردن محموله ها در سامانه یارباکس را بر عهده دارند.</p>

                <p dir="RTL">6-۱: کاربران اصلی یارباکس: صاحبان بار( فرستندگان بار) هستند.</p>

                <p dir="RTL">7-۱: شرکت چابک گستر مبین: ارائه دهنده سامانه یارباکس.</p>

                <p dir="RTL">8-1 : یارباکس: سامانه اینترنتی هوشمند بار که شرکت چابک گستر مبین با نام تجاری یارباکس ارائه می نماید .</p>

                <p dir="RTL">9-۱: حساب کاربری: حسابی است که افراد برای استفاده از سامانه در سایت و نرم افزار یارباکس با شماره تلفن همراه خودشان ایجاد می نمایند.</p>

                <p dir="RTL">10-۱ :حریم شخصی: اطلاعاتی که توسط کلیه کاربران سامانه هوشمند یارباکس در اختیاریارباکس &nbsp;قرار داده می شود مانند مشخصات کارت های هویتی، کارتهای هوشمند حرفه ای، مجوزهای مختلف، شمارهای تماس، اقامتگاه، پست الکترونیکی و بطور کلی کلیه مدارک
                    و مستنداتی که در زمان ثبت نام در سامانه یارباکس از ایشان اخذ و دیتای آن در سرور یارباکس ذخیره می گردد .</p>

                <p dir="RTL">&nbsp;</p>

                <h3 dir="RTL">ماده ۲ - حساب کاربری</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">۱-۲:کاربر با ثبت نام در یارباکس می پذیرد که قوانین و مقررات و طریقه ی استفاده از یارباکس را به صورت کامل مطالعه کرده و قبول کرده است این قوانین ممکن است در طول زمان تغییر و تکمیل گردد، استفادۀ مستمر کلیه ی کاربران از یارباکس به معنی پذیرش
                    هرگونه تغییر در قوانین و مقررات آن است .</p>

                <p dir="RTL">۲-۲:برای استفاده از یارباکس لازم است که هر کاربر یک حساب کاربری در سامانه یارباکس بسازد، تنها افرادی که واجد اهلیت قانونی باشند می توانند اقدام به ساختن حساب کاربری کنند. برای استفاده از یارباکس کاربر می بایست کلیه مشخصات لازم که در فرمهای
                    ثبت نامی وجود دارد را به درستی و با صحت کامل تکمیل نماید .</p>

                <p dir="RTL">3-۲:مسئولیت همۀ فعالیت هایی که از طریق حساب کاربری اشخاص در یارباکس یا سایر خدمات مربوط به یارباکس انجام می شود به عهدۀ کاربر مربوطه است .</p>

                <p dir="RTL">4-۲: مسئولیت حفظ امنیت اطلاعات حساب کاربری کاربر است.</p>

                <p dir="RTL">تذکر ۱: در صورت مفقود شدن یا سرقت اطلاعات حساب کاربری، کاربر موظف است در اسرع وقت موضوع را به مرکز پشتیبانی یارباکس اطلاع دهد. بدیهی است تا زمانی که اطلاع رسانی به شرکت انجام نشده است مسئولیت همۀ فعالیت هایی که از طریق حساب کاربری مذکور
                    انجام شده و می شود همچنان به عهدۀ کاربر خواهد بود.</p>

                <p dir="RTL">تذکر ۲: با توجه به منحصر به فرد بودن شماره های تلفن همراه در سامانه بیارباکس، خواهشمندیم در صورت هر گونه تغییر در شماره اعلامی به شرکت یارباکس حساس بوده و مرکز پشتیبانی را مطلع سازید.</p>

                <p dir="RTL">5-۲: در شرایط خاصی ممکن است سامانه یارباکس به دلیل شکایت مشتریان و یا باطل و توقیف کردن مدارک توسط مراجع قانونی حساب کاربری کاربر را مسدود نماید و از ارائه خدمات به ایشان خودداری کند؛یارباکس &nbsp;این حق را تا آخر برای خود محفوظ می داند.</p>

                <p dir="RTL">&nbsp;</p>

                <h3 dir="RTL">ماده ۳ - استفاده ازیارباکس</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">1-۳: با استفاده از سامانه یارباکس کاربر می پذیرد که از این سامانه برای انجام هیچ فعالیت غیرقانونی طبق قوانین جمهوری اسلامی ایران یا مخالف با عرف جامعه استفاده نکند. کاربر حق ندارد موارد غیر مجاز از جمله مشروبات الکلی، مواد مخدر، سلاح یا
                    سایر اشیاء یا حیواناتی که طبق قوانین جاری جمهوری اسلامی ایران مجاز نیست از طریق این سامانه ارسال نموده یا حتی همراه خود داشته باشد .</p>

                <p dir="RTL">تبصره 1 - شرکت از پذیرش و حمل و نقل کلیه کالاهای خطرناک برابر قانون حمل و نقل زمینی و بین المللی معذور است. شرکت ممکن است بنا به تشخیص خود نسبت به حمل برخی از کالاهای خطرناک با تایید کتبی مشتری اقدام نماید. لازم به ذکر است حمل بار خطرناک
                    مستلزم هزینه اضافی می باشد.</p>

                <p dir="RTL">تبصره 2 -چنانچه فرستنده برخلاف اظهارات خود محموله ای را که حمل آن برابر قوانین و مقررات جاری کشور ممنوع می باشد را ارسال نماید، مسئولیت پاسخگویی قانونی آن در مراجع اداری، انتظامی و قضایی ذیربط مستقیماً به عهده ایشان خواهد بود و میبایست
                    خساراتی که بر اثر این امر به شعبه مربوطه وارد آمده است را جبران نماید. بدیهی است فرستنده مسئولیت کلیه عواقب آن را بر عهده میگیرد.</p>

                <p dir="RTL">تبصره 3 - بنا به درخواست فرستنده ارزش محموله ارسالی بیش از دو میلیون ریال نبوده و داخل بسته اجناس غیر مجاز و یا با ارزش اعم از اوراق بهادار، وجه نقد، جواهرات، اجناس شکستنی، فاسد شدنی، مایعات رونده و از بین رفتنی وجود ندارد.</p>

                <p dir="RTL">2-۳:صاحب بار(فرستنده بار) متعهد است در صورت داشتن بار نامتعارف، اعم از هر گونه پرنده یا حیوانات دیگر، دام زنده، مواد خطرناک، مواد اسیدی و یا هر موردی از این قبیل موضوع را از قبل به مرکز پشتیبانی اعلام نماید؛ در غیر این صورت چنانچه سفیر
                    پس از پذیرش بار و عزیمت به نقطه مبدا، با موارد فوق مواجه شود، مجاز به لغو و امتناع از انجام حمل بوده و مسئولیت جبران خسارات مالی وارده برعهدۀ کاربر صاحب بار(فرستنده بار) می باشد.</p>

                <p dir="RTL">3-3 : فرستنده میبایست نسبت به ثبت کامل و صحیح مشخصات گیرنده و فرستنده اعم از نام، تلفن و آدرس اقدام نماید و جریمه بار و کلیه خسارات بار و خسارات ناشی از عیوب بسته بندی صحیح کالا برعهده صاحب کالا میباشد. بدیهی است شعبه از دریافت و ارسال
                    محصولات مجهول الهویه تحت هر عنوان و کالای فاقد بسته بندی مناسب ، معذور خواهد بود.</p>

                <p dir="RTL">4-۳:کاربر متعهد می شود هیچگاه از سرویس یارباکس به صورتی که به یارباکس و برند یارباکس صدمه ای وارد کند اقدامی صورت ندهد.</p>

                <p dir="RTL">5-۳ :یارباکس به منظور ارائه ی هدیه های نقدی و امتیازی از کاربران خود در مراحلی از وب سایت و نرم افزار ارائه کد معرف یا همان کد کاربری را مطالبه می نماید که کاربر با وارد کردن این کدها در سامانه مشمول حق کارگزاری نقدی یا حتی اختصاص امتیاز
                    اعتباری می گردد لذا در حفظ و درج این کد کاربری توسط خودتان کوشا باشید.</p>

                <p dir="RTL">6-۳:کاربر می پذیرد امتیاز های اعتباری که در حساب کاربری خود کسب می نماید مستقل از روش کسب آن اگر در نتیجه افزایش اعتبار از طریق درگاه بانک باشد یا در نتیجه وارد کردن کدهای تخفیفی که یارباکس در اختیار آنها قرار می دهد یا هر روش دیگری فقط
                    برای استفاده از سرویس هایی که یارباکس در اختیار آن کاربران می گذارد قابل استفاده است و امکان دریافت این وجه را به صورت نقد ندارد مگر هدیه های نقدی که آن نیز مستقیما به حساب ایشان واریز می گردد .</p>

                <p dir="RTL">7-۳:کاربران پذیرفته اند که متن حریم شخصییارباکس را مطالعه کرده اند و مورد قبول ایشان قرار گرفته است .</p>

                <p dir="RTL">8-۳:استفاده از تلفن همراه هنگام حرکت وسیله نقلیه ریسک تصادفات را بالا می برد لطفا از اپلیکیشن ما در هنگام حرکت به هیچ وجه استفاده نکنید. شما قرارداد با ما را با توجه به این ریسک و به عهده گرفتن مسئولیت استفاده ایمن از تلفن همراه پذیرفته
                    اید.
                </p>

                <p dir="RTL">&nbsp;</p>

                <h3 dir="RTL">ماده ۴ – هزینه ها و خسارات</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">1-۴:کاربر می پذیرد هزینه سرویس ارائه شده ممکن است بسته به ویژگی های سرویس ارائه شده از جمله نوع سرویس، زمان سرویس، مکان سرویس مبدا، مقصد یا مسیر حمل ( یا عوامل دیگر ) متغیر باشد .</p>

                <p dir="RTL">2-4 : هزینه ارسال طبق تعرفه ، نوع ، حجم و وزن کالا و نهایتاً طبق توافق و رضایت فرستنده تا انبار مقصد محاسبه گردیده و هرگونه خدمات اضافی جداگانه محسوب میگردد.</p>

                <p dir="RTL">3-4:. فرستنده مکلف است برای ارسال محموله خود ارزش تقریبی آن را اعلام نموده و برای ارسال محموله های با ارزش بیش از دو میلیون ریال مکلف به بیمه نمودن و پرداخت مابه التفاوت کرایه میباشد ، در غیر این صورت هیچگونه مسئولیتی متوجه شعبه نخواهد
                    بود.
                </p>

                <p dir="RTL">4-4 : مبنای مسئولیتی متصدی شعبه ، بر طبق قانون تجارت بوده و مشمول مسئولیت متصدی حمل و نقل میباشد و شعبات مسئول حوادث و تغییراتی هستند که در مدت حمل و نقل واقع گردیده است اعم از این که خود مباشرت به حمل و نقل کرده باشد و یا شخص دیگری را
                    مامور نماید. لذا مسئولیت شخص متصدی نه امانی است و نه ضمانی بلکه در صورتی که محموله به هر نحوی مفقود ، سرقت و تلف گردد متصدی صرفاً مسئول جبران خسارت صاحب کالا طبق توافق نامه و حداکثر تا سقف دو میلیون ریال خواهد بود.</p>

                <p dir="RTL">5-4 : شرکت هیچگونه تعهدی در قبال ضرر و زیان ، در صورت بروز موارد زیر نخواهد داشت : شرایط خارج از کنترل (الف) بلایای طبیعی مانند زلزله ، آتش سوزی (ب) شرایط بحرانی مثل جنگ،شورش و اغتشاشات شهری (ج) بروز اختلالات در شبکه حمل و نقل&nbsp; (د)
                    نواقص پنهان و یا عیوب ذاتی محموله.</p>

                <p dir="RTL">6-4 : شرکت هیچگونه تعهدی در قبال ضرر و خسارت خاص مانند از دست دادن سود بازار و شهرت و فرصت شغلی و سایر خسارات غیر مستقیم ناشی از تاخیر و مفقود شدن محموله را بر عهده نخواهد داشت.</p>

                <p dir="RTL">&nbsp;</p>

                <h3 dir="RTL">ماده ۵ - مسئولیت یارباکس</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">۱-۵: یارباکس با تمام امکانات و قوای خود از جمله واحدهای خدمات پشتیبانی مشتریان (مرکز تماس) تمام سعی خود را در رفع نیاز و رضایتمندی کلیه کاربران می نماید.</p>

                <p dir="RTL">۲-۵:یارباکس با استفاده از نظارت های خود، تلاش می کند خدماتی با کیفیت به کاربرانی که از سامانه یارباکس بهره می جویند ارائه دهد و با راهکارهای کیفیت محور همچون جوایز و مشوق ها، کاربران خود را به سمت ارائه خدمات با کیفیت بیشتر راهنمایی و
                    ترغیب نماید.</p>

                <p dir="RTL">۳-۵:یارباکس تلاش خود را جهت استفاده کاربران محترم از سامانه ارائه شده به کار می بندد اما تضمینی نسبت به اجرا شدن آن روی همه ی دستگاه ها یا همه ی شبکه های ارتباطی از جمله اینترنت، شبکه تلفن همراه و …نخواهد داد .</p>

                <p dir="RTL">۴-۵:تمامی اطلاعات کاربران به عنوان اطلاعات محرمانه نزدیارباکس محافظت شده و دسترسی به آن توسط اشخاص ثالث ممنوع بوده مگر برابر تصمیم مقام صالح قضایی.</p>

                <p dir="RTL">۵-۵:چنانچه هر یک از کاربران یارباکس در زمان استفاده از خدمات آن با مشکلی مواجه شوند، می توانند شکایت خود را از طریق واحدهای خدمات پشتیبانی مرکز تماس یارباکس مطرح کنند و یارباکس پیگیری لازم و تلاش خود را جهت حل و فصل اختلافات به عمل خواهد
                    آورد .</p>

                <p dir="RTL">۶-۵:جهت اطلاع بیشتر کاربران با نحوه و شرایط ارائه خدمات یارباکس و استفاده از اپلیکیشن همۀ اطلاعات مورد نیاز کاربران توسط یارباکس در صفحات راهنمای سایت و اپلیکیشن قرار داده شده است و اشخاص می توانند با مراجعه به قسمت مذکور و مطالعه آنها
                    کاملا با شرایط ذکر شده و خدمات یارباکس آشنا شوند. همچنین همکاران ما در واحد پشتیبانی مشتریان پاسخگوی هر گونه ابهام و سؤال کاربران گرانقدر هستند.</p>

                <p dir="RTL">۷-۵: در حالی که هر گونه تلاش برای اطمینان از اینکه اطلاعات موجود در این سایت در زمان ارسال صحیح و به روز است، یارباکس مسئولیتی در قبال خسارت های ناشی از استفاده از اطلاعات موجود را ندارد و درصورتی که اطلاعاتی اشتباه یا خراب شده در سایت
                    مشاهده کردید لطفا به ما اطلاع دهید.</p>

                <p dir="RTL">۸-۵:شما به راحتی می توانید با ذکر شماره ی تلفن همراه خود خود هرگونه نظر، پیشنهاد، مشکلی و یا طرح شکایتی را با ما مطرح کنید که در این صورت کمتر از ۲۴ ساعت پاسخگوی شما خواهیم بود.</p>

                <p dir="RTL">9-۵:یارباکس هیچگونه تضمینی برای صحت محتوای اطلاعاتی را که خود شما می دهید و نیز مسئولیت در قبال اشتباهات و یا نادیده گرفتن چنین محتوایی را نمی پذیرد و همچنین خسارات ناشی از ویروس های اینترنتی که ممکن است داده های غلط را نشان بدهد نیز به
                    عهده نمی گیرد.</p>

                <p dir="RTL">10-۵: شماره تلفن های اعلامی شما کاربران گرامی منحصر به خودتان می باشد ویارباکس این اظهار شما را مبنای تشخیص اصالت و ارتباط با شما می داند.</p>

                <p dir="RTL">&nbsp;</p>

                <h3 dir="RTL">ماده ۶ – مسئولیت کاربران</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">1-۶: هر گونه اقدامی از سوی کاربران که منجر به وارد شدن خسارت به شهرت تجاری، نام و اعتبار یارباکس شود تخلف از شرایط قراردادی و قانونی و عرفی تلقی می گردد و یارباکس حق غیر فعال نمودن حساب کاربر و اقدام قانونی علیه وی را جهت مطالبه خسارت
                    و احقاق حقوق قانونی خود خواهد داشت .</p>

                <p dir="RTL">&nbsp;</p>

                <h3 dir="RTL">ماده 7 - موارد فنی</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">۱-7:کاربر حق ندارد هیچ گونه تلاشی در جهت استخراج سورس کد (Source Code) نرم افزارهای یارباکس شامل دیکامپایل (Decompile) ، مهندسی معکوس(Reverse Engineering) یا فعالیت های مشابه انجام دهد، مگر اینکه اجازۀ چنین کاری به صورت قانونی صادر شده
                    باشد.
                </p>

                <p dir="RTL">۲-7:کاربر مجاز نیست با استفاده از روش های Framing یاMirroring یا روش های دیگر نسخۀ دیگری از سامانه یارباکس را روی سرورهای دیگر ارائه کند. همچنین کاربر مجاز نیست در نرم افزاریارباکس &nbsp;یا در روش ارائه سامانه یارباکس تغییر یا اخلالی ایجاد
                    کند.
                </p>

                <p dir="RTL">۳-7:کاربر حق ندارد برنامه یا اسکریپتی با هدف ایندکس گذاری(Indexing) ، مطالعه یا هر گونه فعالیت داده کاوی روی سرویس اجرا کند .</p>

                <p dir="RTL">۴-7:کاربر حق ندارد هیچ فعالیتی در راستای حصول دسترسی غیرقانونی و غیرمتداول به هیچ بخش از سامانه یارباکس یا سامانه مرتبط با باروان انجام دهد .</p>

                <h3 dir="RTL">&nbsp;</h3>

                <h3 dir="RTL">ماده 8 - قطع سامانه</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">یارباکس در شرایطی که به هر دلیل به این نتیجه برسد حضور یک کاربر می تواند برای شرکت یا سایر مشتریان یا خطرناک یا نامطلوب باشد، حق حذف دسترسی کاربر مذکور را به سامانه &nbsp;یارباکس دارد .</p>

                <p dir="RTL">&nbsp;</p>

                <h3 dir="RTL">ماده9 - توافق از راه دور</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">۱-9:کاربر توافق می کند جهت مبادلۀ آسان اطلاعات، همۀ تغییرات و الحاقیه های قوانین و مقررات حاضر اعم از تغییر و اضافه کردن شروط آن، ارسال اخطاریه و ابلاغیه های مربوط بهیارباکس، از طریق سیستم رایانه ای یارباکس به عمل آید و کاربر ضمن پذیرش
                    اطلاع از شروط و روند اجرایی آن موافقت خود را نسبت به اعمال شروط مذکور اعلام می کند .</p>

                <p dir="RTL">۲-9:مسئولیت حفظ و حراست از حساب کاربر برعهده کاربر بوده و ایشان ضمن پذیرش این مسئولیت، همه داده پیام های صادره از طریق حساب کاربری مذکور را منتسب به خود دانسته و هرگونه ادعایی نسبت به انکار، تردید و جعل داده پیام های ارسال شده از ناحیه
                    نامبرده غیر قابل استماع و مردود است .</p>

                <h3 dir="RTL">ماده 10 – حق بازرسی</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">1-10 : مشتری موافقت خود را با بازرسی محموله خود توسط شرکت و هر ارگان دولتی و انتظامی در هرزمان اعلام می دارد.</p>

                <p dir="RTL">&nbsp;</p>

                <h2 dir="RTL">فرآیند انجام کار در یارباکس</h2>

                <p dir="RTL">&nbsp;</p>

                <h3 dir="RTL">مراحل برای ارسال سفارش کالاها :</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">&nbsp;الف- تعیین نوع مرسوله : براساس تعداد کالا و اندازه وزن کالا و نوع کالا با توجه به درخواست صاحب بار، و وسایل مختلف حمل به سمت مقصد روانه می شود و با توجه به این موارد بسته بندی ها و کالاهای شما تحت پوشش بیمه ای خواهند بود.&nbsp;</p>

                <p dir="RTL">ب-تعیین مشخصات&nbsp; فرستنده (مبدا) شما در وب سایت مشخصات خود را اعم از موقعیت جغرافیایی و تمام جزئیات آدرس خود را می توانید ثبت کنید.</p>

                <p dir="RTL">ج-تعیین مشخصات گیرنده(مقصد) شما مشخصات درب منزل گیرنده و یا پورت مورد نظر را با نام و شماره تماس خود ثبت می کنید و ما با سفیران خود کالاهای شما را به مقصد مورد نظر می رسانیم.</p>

                <p dir="RTL">&nbsp;</p>

                <h3 dir="RTL">&nbsp;نحوه پرداخت :&nbsp;</h3>

                <p dir="RTL">&nbsp;</p>

                <p dir="RTL">نقدی-به این صورت هست که شما هزینه های خود را هم در مبدا و هم در مقصد به صورت پس کرایه و پیش کرایه پرداخت می کنید.</p>

                <p dir="RTL">آنلاین-به مشتری این امکان را می دهد که هزینه ارائه شده را به صورت اعتباری پرداخت نمایید.</p>

                <p dir="RTL">پیگیری مرسوله:</p>

                <p dir="RTL">&nbsp;شما در هر لحظه میتوانیدوضعیت مرسوله خود را به صورت آنلاین پیگیری کنید.<a href="https://yarbox.co/news/63/%D9%BE%D8%B3%D8%AA-%D8%A8%D8%A7%D8%B1-%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C-%D8%A8%D8%A7-%DB%8C%D8%A7%D8%B1%D8%A8%D8%A7%DA%A9%D8%B3">پست بار</a></p>






            </div>

        </div>

    </div>
</div>