<div class="section-main-web-app">

    <section class="main-web-app">
        <img src="/assets/img/img2.jpg" class="img-web-app" />
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="web-app-text">

                <!-- #mobile="ngModel" pattern="[0-9]+" required  -->
                <!-- git test -->
                <input autocomplete="off" type="tel" placeholder="----   ---   ----" class="login-input" [(ngModel)]="model.mobile" #mobile="ngModel" name="mobile" required (ngModelChange)="ngModelChange($event)" />
                <img src="/assets/img/2-mob.svg" width="30" height="30">
                <!-- *ngIf="f.submitted && mobile.invalid" -->
                <div class="invalid-feedback">
                    <!-- <div *ngIf="mobile.errors.required" class="error-webapp error-webapp2">شماره همراه / ثابت را وارد کنید</div> -->
                    <div class="error-webapp error-webapp2" *ngIf="error!=null"> فرمت شماره همراه را درست وارد کنید </div>
                </div>
                <!--a  [routerLink]="['/register/09185688292']" class="regester-btn">ثبت نام</a-->

            </div>
            <div class="btn-web-app"><button type="submit"> وارد شوید</button></div>
        </form>
    </section>

</div>