<div class="section-main-web-app">
    	
  <section class="main-web-app main-web-app1">
    
    <div class="main-web-app-top main-web-app-top-1">
      
      <div class="web-app-title">
        
        <div class="title-web-app">در انتظار راننده</div>
      </div>
    
    </div>
    <!-- <a href="#" class="back-web-app"><i class="fas fa-angle-left"></i></a> -->
    <div class="main-web-app main-web-app-serch-dri">
      
      <div class="img-wait"><img src="/assets/img/10-entezare-ranandeh.svg"></div>
      <p class="p-wait">از صبر و شکیبایی شما سپاسگزارم</p>

    </div>
    
    <div class="btn-laghv">
    <button (click)="cancelPack()" class="cancel-btn">لغو</button>
  </div>
  </section>
  
  </div>
