<div class="section-main-web-app">
    	
		<section class="main-web-app">
			
			<div class="main-web-app-top">
				
				<div class="web-app-title">
					
					<div class="title-web-app">پیام های شما</div>
				</div>
			
			</div>
			<a href="#" class="back-web-app"><i class="fas fa-angle-left"></i></a> 
			<div class="main-web-app">
				
				<div class="img-wait"><img src="/assets/img/16-payam-haye-shoma.svg"></div>
				<p class="p-active">پیامی برای نمایش وجود ندارد .</p>

			</div>
			
			
		</section>
		
		</div>
