a.back-web-app2 {
    float: left;
    padding: 15px;
    position: absolute;
    left: 35%;
    font-size: 37px;
    color: #fff;
    margin-top: 0;
}
@media screen and (max-width:768px) {
    a.back-web-app2 {
        left: 1% !important;
    }
}
@media screen and (max-width:500px) {
    .btn-web-app button {
        padding: 4% !important;
    }
    .web-app-text {
        margin-top: -15% !important;
    }
}
@media screen and (max-width: 375px){
    .btn-web-app button {
        
        padding: 6% !important;
    }
    p.code-massege {
        margin-top: 7px !important;
    }
    

}
@media screen and (max-width: 320px){
    .btn-web-app button {
        
        padding: 4% !important;
    }
    p.code-massege {
        margin-top: -7px !important;
    }
    

}