

	 <div class="section-main-web-app">
			
			<section class="main-web-app main-web-app-1">
					
				<a  [routerLink]="['/login']" class="back-web-app2"><i class="fas fa-angle-left"></i></a>
				<img src="./assets/img/img2.jpg" class="img-web-app"/>
				
				<div class="web-app-text">
					
					 
					<input type="text" placeholder="----   ---   ----" class="login-input"  #verifycode />
					<i class="fas fa-lock-open"></i>
					<br>
					<p *ngIf="error!=''">{{error}}</p>
					<br>
					<p class="code-massege"> کد تایید ارسال شده را وارد نمایید</p>
				 
				
					<a (click)="retrysms()"  class="resend">ارسال مجدد</a>
				</div>
			
				<div class="btn-web-app"><button (click)="Login(verifycode.value)">وارد شوید</button></div>
			</section>
			
			</div>
	