a.back-web-app2 {
    float: left;
    padding: 15px;
    position: absolute;
    left: 35%;
    font-size: 37px;
    color: #fff;
    margin-top: 0;
}
@media screen and (max-width:768px) {
    a.back-web-app2 {
        left: 1% !important;
    }
}
@media screen and (max-width:500px) {
    .btn-web-app button {
        
        padding: 4% !important;
    }
}