<!--  
		


		<div class="section-main-web-app">
    	
			<section class="main-web-app">
				<img src="./assets/img/img1.png" class="img-web-app"/>
				 
				<div class="web-app-text">
					<p>لطفا کد تایید را وارد کنید</p>
					
					<input type="text" placeholder="*****" class="login-input" #verifycode />
					<i class="fas fa-phone"></i>
				</div>
				<div class="btn-web-app"><a (click)="Login(verifycode.value)">وارد شوید</a></div>
			</section>
			
			</div>
		   
	 -->

	 <div class="section-main-web-app">
    	
			<section class="main-web-app main-web-app-1">
				<img src="./assets/img/img2.jpg" class="img-web-app"/>
				
				<div class="web-app-text">
					<p>کد تایید ارسال شده را وارد نمایید</p>
					
					<input type="text" placeholder="----   ---   ----" class="login-input"  #verifycode />
					<i class="fas fa-lock-open"></i>
				</div>
				<div class="btn-web-app"><a (click)="Login(verifycode.value)">وارد شوید</a></div>
			</section>
			
			</div>
	