
<div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">فاکتور نهایی</div>

            </div>

        </div>
        <a  class="back-web-app"><i class="fas fa-angle-left"></i></a>
        <div class="main-web-app main-web-app6">
            <div class="factor-box factor-box-red">
                <span class="cri-titr"></span>
                <p>فرستنده</p>
                <div class="factor-nam">شایان رحیمیان</div>
                <div class="factor-address">آدرس : تهزان نیاوران -  جنب فروشگاه عظیمی کوچه </div>
            </div>
            <div class="factor-box factor-box-green">
                <span class="cri-titr"></span>
                <p>گیرنده</p>
                <div class="factor-nam">شایان رحیمیان</div>
                <div class="factor-address">آدرس : تهران نیاوران -  جنب فروشگاه عظیمی کوچه </div>
            </div>
            <div class="factor-box factor-box-tosi">ارسال شده با : <span>وانت بار</span></div>
            <div class="factor-info">
                <div class="factor-info-line">
                    <div class="factor-info-title">تعداد بسته</div>
                    <div class="factor-info-info">5</div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">شامل</div>
                    <div class="factor-info-info"></div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">وزن</div>
                    <div class="factor-info-info">22 کیلوگرم</div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">بسته بندی</div>
                    <div class="factor-info-info">دارد</div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">بیمه</div>
                    <div class="factor-info-info">1000 تومان</div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">نوع پرداخت</div>
                    <div class="factor-info-info">پرداخت در مقصد</div>
                </div>
                <div class="factor-info-line factor-info-btn">
                    <div class="factor-info-title">هزینه ارسال</div>
                    <div class="factor-info-info">335400<span>تومان</span></div>
                </div>

            </div>
          




        </div>


    </section>

  </div>
  