<!--div class="section-main-web-app">
    	
		<section class="main-web-app">
			
			<div class="main-web-app-top">
				
				<div class="web-app-title">
					
                    <div class="title-web-app">فعالیت های یارباکس</div>
                   
				</div>
			
			</div>
            <a  [routerLink]="['/']" class="back-web-app"><i class="fas fa-angle-left"></i></a>
			<div class="main-web-app main-web-app5">
            
				<ul class="nav nav-tabs nav-active">
				  <li [class.active]="defultMenu==true"><a data-toggle="tab" href="#menu1">در حال اجرا</a></li>
				  <li [class.active]="defultMenu==false" ><a data-toggle="tab" href="#menu2">ناموفق</a></li>
				 
				</ul>
               
				<div class="tab-content">
				  
				  <div id="menu1" class="tab-pane fade " [class.active]="defultMenu==true" [class.in]="defultMenu==true"   >
					
					<div class="box-pack-web-app" *ngFor="let pack of PackRuningInCancelFalse" >
                        <div>
                                <div class="head-pack">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            {{pack.receiverName}}
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        کد مرسوله :  {{pack.id}}
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        97/12/10
                                        </div>
                                    </div> 
                                    <div class="body-pack">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                             <div class="step-pack step-pack1 " [ngClass]=" pack.status=='driverRecived' || pack.status=='originPort' || pack.status=='destinationPort' ? 'done' : '' ">
                                                <div class="step-i"><img src="/assets/img/9-tahvile-peyk-no.svg" width="70" height="70" class="step-pack-no"><img src="/assets/img/9-tahvile-peyk-ok.svg" width="70" height="70" class="step-pack-ok"></div>
                                                <span class="step-span">تحویل به پیک</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                             <div class="step-pack step-pack2"  [ngClass]=" pack.status=='originPort' ||  pack.status=='destinationPort' ? 'done' : '' ">
                                                <div class="step-i"><img src="/assets/img/9-maghsad-no.svg" width="70" height="70" class="step-pack-no"><img src="/assets/img/9-maghsad-ok.svg" width="70" height="70" class="step-pack-ok"></div>
                                                <span class="step-span">پورت مقصد</span></div> 
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <div class="step-pack step-pack3"  [ngClass]="pack.status == 'destinationPort' ? 'done': ''">
                                                <div class="step-i"><img src="/assets/img/9-mabda-no.svg" width="70" height="70" class="step-pack-no"><img src="/assets/img/9-mabda-ok.svg" width="70" height="70" class="step-pack-ok"></div>
                                                <span class="step-span">پورت مبدا</span></div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <div class="step-pack step-pack4"   >
                                                <div class="step-i"><img src="/assets/img/9-girandeh-no.svg" width="70" height="70" class="step-pack-no"><img src="/assets/img/9-girandeh-ok.svg" width="70" height="70" class="step-pack-ok"></div>
                                                <span class="step-span">گیرنده</span></div>
                                        </div>
                                    </div>
                        </div>
				
					
					</div>
				<div *ngIf="PackRuningInCancelFalse.length==0" class="null-pack"><div class="img-wait"><img src="/assets/img/11-faalliatha.svg"></div></div>
				  </div>
					
					
				  <div id="menu2" class="tab-pane fade   " [class.active]="defultMenu==false" [class.in]="defultMenu==false">
 
					<div class="box-pack-web-app" *ngFor="let pack of PackRuningInCancelTrue" >
                        <div >
                                <div class="head-pack head-pack1">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            {{pack.receiverName}}
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        کد مرسوله :    {{pack.id}}
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        97/12/10
                                        </div>
                                    </div> 
                                    <div class="hover-Unsuccess">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <a (click)="ReOrder(pack.id)">
                                            <i class="fas fa-check hover-Unsuccess1"></i><br>
                                            سفارش مجدد</a>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <a (click)="deletePaks(pack.id)">
                                            <i class="fas fa-times hover-Unsuccess2"></i><br>
                                            حذف سفارش</a>
                                        </div>
                                    </div>
                                    <div class="body-pack body-pack-unsuc">
                                        
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <div class="step-pack step-pack1 done">
                                                        <div class="step-i"><img src="/assets/img/9-tahvile-peyk-no.svg" width="70" height="70" class="step-pack-no"><img src="/assets/img/9-tahvile-peyk-ok.svg" width="70" height="70" class="step-pack-ok"></div>
                                                        <span class="step-span">تحویل به پیک</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <div class="step-pack step-pack2 done">
                                                        <div class="step-i"><img src="/assets/img/9-maghsad-no.svg" width="70" height="70" class="step-pack-no"><img src="/assets/img/9-maghsad-ok.svg" width="70" height="70" class="step-pack-ok"></div>
                                                        <span class="step-span">پورت مقصد</span></div> 
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <div class="step-pack step-pack3">
                                                        <div class="step-i"><img src="/assets/img/9-mabda-no.svg" width="70" height="70" class="step-pack-no"><img src="/assets/img/9-mabda-ok.svg" width="70" height="70" class="step-pack-ok"></div>
                                                        <span class="step-span">پورت مبدا</span></div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                    <div class="step-pack step-pack4">
                                                        <div class="step-i"><img src="/assets/img/9-girandeh-no.svg" width="70" height="70" class="step-pack-no"><img src="/assets/img/9-girandeh-ok.svg" width="70" height="70" class="step-pack-ok"></div>
                                                        <span class="step-span">گیرنده</span></div>
                                                </div>
                                    </div>
                                    
                        </div>
                    </div> 
                    <div *ngIf="PackRuningInCancelTrue.length==0" class="null-pack"><div class="img-wait"><img src="/assets/img/11-faalliatha-namovaghha.svg"></div></div>
				  </div>
				</div>
				

					
			</div>
			
			<div class="btn-web-app">
				<button type="submit"  [routerLink]="['/']">ارسال بسته جدید</button>
				</div>
		</section>
		
        </div-->










<!--div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">وضعیت سفارش</div>

            </div>

        </div>
        <a  class="back-web-app"><i class="fas fa-angle-left"></i></a>
        <div class="main-web-app main-web-app6">

            <div class="picpack">
                <img src="/assets/img/11-faalliatha.svg">
            </div>
            <div class="stutus-pack">
                <p>در حال رسیدن وسیله حمل بار</p>

            </div>
            <div class="info-packs">
                <div class="info-pack">
                    <div class="info-part info-part1">نام گیرنده</div>
                    <div class="info-part info-part2">اکبر نوریان</div>
                </div>
                <div class="info-pack">
                    <div class="info-part info-part1">شماره تماس</div>
                    <div class="info-part info-part2">0912233333</div>
                </div>
                <div class="info-pack">
                    <div class="info-part info-part1">کد مرسوله</div>
                    <div class="info-part info-part2">45454232</div>
                </div>
                <div class="info-pack">
                    <div class="info-part info-part1">تاریخ</div>
                    <div class="info-part info-part2">98.02.05</div>
                </div>
                <div class="info-pack">
                    <div class="info-part info-part1">ساعت</div>
                    <div class="info-part info-part2">13:15</div>
                </div>
            </div>





        </div>


    </section>

</div-->




<!--div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">فاکتور نهایی</div>

            </div>

        </div>
        <a class="back-web-app"><i class="fas fa-angle-left"></i></a>
        <div class="main-web-app main-web-app6">
            <div class="factor-box factor-box-red">
                <span class="cri-titr"></span>
                <p>فرستنده</p>
                <div class="factor-nam">شایان رحیمیان</div>
                <div class="factor-address">آدرس : تهزان نیاوران - جنب فروشگاه عظیمی کوچه </div>
            </div>
            <div class="factor-box factor-box-green">
                <span class="cri-titr"></span>
                <p>گیرنده</p>
                <div class="factor-nam">شایان رحیمیان</div>
                <div class="factor-address">آدرس : تهران نیاوران - جنب فروشگاه عظیمی کوچه </div>
            </div>
            <div class="factor-box factor-box-tosi">ارسال شده با : <span>وانت بار</span></div>
            <div class="factor-info">
                <div class="factor-info-line">
                    <div class="factor-info-title">تعداد بسته</div>
                    <div class="factor-info-info">5</div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">شامل</div>
                    <div class="factor-info-info"></div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">وزن</div>
                    <div class="factor-info-info">22 کیلوگرم</div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">بسته بندی</div>
                    <div class="factor-info-info">دارد</div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">بیمه</div>
                    <div class="factor-info-info">1000 تومان</div>
                </div>
                <div class="factor-info-line">
                    <div class="factor-info-title">نوع پرداخت</div>
                    <div class="factor-info-info">پرداخت در مقصد</div>
                </div>
                <div class="factor-info-line factor-info-btn">
                    <div class="factor-info-title">هزینه ارسال</div>
                    <div class="factor-info-info">335400<span>تومان</span></div>
                </div>

            </div>


            <div class="btn-web-app2">
                <button type="submit" >ذخیره فاکتور در گوشی</button>
            </div>


        </div>


    </section>

</div-->

<div class="section-main-web-app">

    <section class="main-web-app">

        <div class="main-web-app-top">

            <div class="web-app-title">

                <div class="title-web-app">تاریخچه</div>

            </div>

        </div>
        <a class="back-web-app"><i class="fas fa-angle-left"></i></a>
        <div class="main-web-app main-web-app6">
            
            <div class="history-parts">
                <div class="history-head">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                        کد مرسوله : <span>44763</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                        تاریخ : <span>1398/01/18</span>
                    </div>
                </div>
                <div class="history-body">
                    <div class="history-part history-red">
                        <span class="cri-titr"></span>
                        <p>فرستنده</p>
                        <div class="history-info">
                            استان تهران - شهر تهران - شاهد - پلاک
                        </div>
                    </div>
                    <div class="history-part history-green">
                        <span class="cri-titr"></span>
                        <p>گیرنده</p>
                        <div class="history-info">
                            استان تهران - شهر تهران - شاهد - پلاک
                        </div>
                    </div>
                    <div class="historry-price">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-1">
                            <p>هزینه ارسال</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-2">
                            <span>75,900</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-3">
                            <p>تومان</p>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>

            <div class="history-parts">
                    <div class="history-head">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                            کد مرسوله : <span>44763</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                            تاریخ : <span>1398/01/18</span>
                        </div>
                    </div>
                    <div class="history-body">
                        <div class="history-part history-red">
                            <span class="cri-titr"></span>
                            <p>فرستنده</p>
                            <div class="history-info">
                                استان تهران - شهر تهران - شاهد - پلاک
                            </div>
                        </div>
                        <div class="history-part history-green">
                            <span class="cri-titr"></span>
                            <p>گیرنده</p>
                            <div class="history-info">
                                استان تهران - شهر تهران - شاهد - پلاک
                            </div>
                        </div>
                        <div class="historry-price">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-1">
                                <p>هزینه ارسال</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-2">
                                <span>75,900</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-3">
                                <p>تومان</p>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>

                <div class="history-parts">
                        <div class="history-head">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                                کد مرسوله : <span>44763</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                                تاریخ : <span>1398/01/18</span>
                            </div>
                        </div>
                        <div class="history-body">
                            <div class="history-part history-red">
                                <span class="cri-titr"></span>
                                <p>فرستنده</p>
                                <div class="history-info">
                                    استان تهران - شهر تهران - شاهد - پلاک
                                </div>
                            </div>
                            <div class="history-part history-green">
                                <span class="cri-titr"></span>
                                <p>گیرنده</p>
                                <div class="history-info">
                                    استان تهران - شهر تهران - شاهد - پلاک
                                </div>
                            </div>
                            <div class="historry-price">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-1">
                                    <p>هزینه ارسال</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-2">
                                    <span>75,900</span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-3">
                                    <p>تومان</p>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>

                    <div class="history-parts">
                            <div class="history-head">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head1">
                                    کد مرسوله : <span>44763</span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 history-head2">
                                    تاریخ : <span>1398/01/18</span>
                                </div>
                            </div>
                            <div class="history-body">
                                <div class="history-part history-red">
                                    <span class="cri-titr"></span>
                                    <p>فرستنده</p>
                                    <div class="history-info">
                                        استان تهران - شهر تهران - شاهد - پلاک
                                    </div>
                                </div>
                                <div class="history-part history-green">
                                    <span class="cri-titr"></span>
                                    <p>گیرنده</p>
                                    <div class="history-info">
                                        استان تهران - شهر تهران - شاهد - پلاک
                                    </div>
                                </div>
                                <div class="historry-price">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-1">
                                        <p>هزینه ارسال</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-2">
                                        <span>75,900</span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 historry-price-3">
                                        <p>تومان</p>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>



        </div>


    </section>

</div>