.btn-web-app button {
    margin-right: 0 !important;
}
.main-web-app.main-web-app5 {
    height: 85%;
    overflow: scroll;
}
@media screen and (max-width: 500px){
    .btn-web-app button {
        
        padding: 4% !important;
    }

}